body {
  overflow: hidden;
}
.w-1920 {
  width: 19.2rem;
  margin: 0 auto;
}
.w-1500 {
  width: 15rem;
  margin: 0 auto;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
header .top-bar {
  background-color: #f6f6f6;
  height: .5rem;
}
header .top-bar > div {
  width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .top-bar > div .left {
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #666666;
}
header .top-bar > div ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top-bar > div ul li {
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: right;
  color: #666666;
}
header .top-bar > div ul li:nth-of-type(2n) {
  width: .02rem;
  height: .13rem;
  background: #999999;
  margin: 0 .15rem;
}
header .bottom-bar {
  padding: .34rem 0;
}
header .bottom-bar .bottom-bar-content {
  width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .bottom-bar .bottom-bar-content .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .bottom-bar .bottom-bar-content .left div {
  margin-left: .3201rem;
}
header .bottom-bar .bottom-bar-content .left div h2 {
  font-size: .25rem;
  font-family: SourceHanSansCN-Bold;
  text-align: left;
  color: #000;
  font-weight: 700;
}
header .bottom-bar .bottom-bar-content .left div h2 span {
  color: #2680eb;
}
header .bottom-bar .bottom-bar-content .left div p {
  margin-top: .11rem;
  font-size: .1901rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #333333;
}
header .bottom-bar .bottom-bar-content .right p {
  display: flex;
  align-items: center;
}
header .bottom-bar .bottom-bar-content .right p img {
  width: .23rem;
  margin-right: .0801rem;
}
header .bottom-bar .bottom-bar-content .right p span {
  font-size: .2001rem;
  font-family: SourceHanSansCN-Regular;
  text-align: left;
  color: #000000;
}
header .bottom-bar .bottom-bar-content .right h2 {
  margin-top: .1rem;
  font-size: .33rem;
  font-family: SourceHanSansCN-Bold;
  text-align: right;
  color: #2680eb;
  font-weight: 700;
}
/* 头部结束 */
/* 导航栏开始 */
.nav {
  width: 19.2rem;
  margin: 0 auto;
  background: #000;
  box-shadow: 0rem 0.0601rem 0.0601rem 0rem rgba(38, 128, 235, 0.04);
  transition: all 1s;
}
.nav > ul {
  width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav > ul .activate {
  background: #2680eb !important;
}
.nav > ul .activate a {
  color: #ffffff !important;
}
.nav > ul > li {
  position: relative;
}
.nav > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4899rem;
  height: .83rem;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.nav > ul > li > a i {
  margin-left: .0499rem;
  font-size: .25rem;
  transition: all 1s;
}
.nav > ul > li ul {
  display: none;
  background: #2680eb;
  position: absolute;
  z-index: 100;
  left: 0;
  top: .83rem;
  padding-bottom: .2001rem;
}
.nav > ul > li ul li > a {
  display: inline-block;
  width: 1.4899rem;
  padding: .25rem 0;
  position: relative;
  opacity: 0.5;
  font-size: .1599rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.nav > ul > li ul li > a:hover {
  opacity: 1;
}
.nav > ul > li ul li > a:hover p {
  display: block;
}
.nav > ul > li ul li > a p {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: .2001rem;
  height: .03rem;
  background-color: #ffffff;
}
/* 导航栏结束 */
/* banner开始 */
.banner {
  width: 19.2rem;
  margin: 0 auto;
  position: relative;
  font-size: 0;
}
.banner img {
  width: 100%;
}
.banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.1001rem;
  width: 9.81rem;
  height: 6.3999rem;
  background: url(../images/chan-pin-zhong-xin-img/banner-left.png) no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}
.banner .banner-content h1 {
  font-size: .36rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
.banner .banner-content i {
  margin: .45rem 0;
  width: .87rem;
  height: .0399rem;
  background-color: #ffffff;
  border-radius: .02rem;
}
.banner .banner-content p {
  width: 6.03rem;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  line-height: .3001rem;
}
.banner .banner-streamer {
  width: 15rem;
  height: 1.21rem;
  background: #2680eb;
  position: absolute;
  left: 50%;
  bottom: -0.61rem;
  transform: translateX(-50%);
}
.banner .banner-streamer ul {
  display: flex;
  align-items: center;
  height: 100%;
}
.banner .banner-streamer ul li:hover a {
  border: .01rem solid #ffffff;
}
.banner .banner-streamer ul li:hover a p {
  display: none;
}
.banner .banner-streamer ul li h2 {
  margin-left: .37rem;
  font-size: .24rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}
.banner .banner-streamer ul li a {
  border: .01rem solid transparent;
  position: relative;
  display: inline-block;
  padding: .13rem .3001rem;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.banner .banner-streamer ul li a p {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: .21rem;
  height: .02rem;
  background-color: #ffffff;
}
/* banner结束 */
/* 重磅推荐开始 */
.district-1 {
  width: 19.2rem;
  margin: 0 auto;
  margin-top: 1.41rem;
}
.district-1 .recommend {
  width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.district-1 .recommend .left {
  height: 3.5199rem;
  position: relative;
}
.district-1 .recommend .left h1 {
  font-size: .36rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #0f335e;
}
.district-1 .recommend .left span {
  margin: .3999rem 0;
  display: block;
  width: .82rem;
  height: .0399rem;
  background-color: #2680eb;
  border-radius: .02rem;
}
.district-1 .recommend .left p {
  width: 6.38rem;
  font-size: .2001rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #0f335e;
  line-height: .36rem;
}
.district-1 .recommend .left .swiper-button-prev {
  position: absolute;
  left: 0;
  top: 100%;
  width: .81rem;
  height: .5501rem;
  background: #E8ECF2;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.district-1 .recommend .left .swiper-button-prev i {
  font-size: .4401rem;
  color: #000;
  transition: all 0.5s;
}
.district-1 .recommend .left .swiper-button-prev:hover {
  background: #2680eb;
}
.district-1 .recommend .left .swiper-button-prev:hover i {
  color: #fff;
}
.district-1 .recommend .left .swiper-button-next {
  left: .9999rem;
  width: .81rem;
  height: .5501rem;
  top: 100%;
  background: #E8ECF2;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.district-1 .recommend .left .swiper-button-next i {
  font-size: .4401rem;
  color: #000;
  transition: all 0.5s;
}
.district-1 .recommend .left .swiper-button-next:hover {
  background: #2680eb;
}
.district-1 .recommend .left .swiper-button-next:hover i {
  color: #fff;
}
.district-1 .recommend .left .swiper-button-prev::after {
  display: none;
}
.district-1 .recommend .left .swiper-button-next::after {
  display: none;
}
.district-1 .recommend .right .recommend-swiper .swiper {
  width: 7.1rem;
  height: 3.5199rem;
  padding-top: .0601rem;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide {
  width: 3.3999rem !important;
  height: 3.46rem;
  border: .01rem solid #eeeeee;
  border-radius: .1599rem .0399rem .0399rem .0399rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide:hover .chanshu {
  transform: translateY(-3.46rem);
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide:hover i img {
  transform: scale(1.2);
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide .logo {
  position: absolute;
  left: -0.0801rem;
  top: -0.0701rem;
  z-index: 3;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide .logo img {
  width: .99rem;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide i {
  text-align: center;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide i img {
  width: 2.37rem;
  transition: all 1s;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide > p {
  padding: 0 .2001rem;
  font-size: .26rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  color: #0f335e;
  line-height: 0.36rem;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide .chanshu {
  border-radius: .1599rem .0399rem .0399rem .0399rem;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(38, 128, 235, 0.9);
  left: 0;
  top: 3.46rem;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide .chanshu h2 {
  font-size: .26rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide .chanshu div {
  padding: 0 .3001rem;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide .chanshu div p {
  line-height: .2799rem;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide .chanshu a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.45rem;
  height: .4099rem;
  background: rgba(255, 255, 255, 0.1);
  border: .01rem solid #ffffff;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  transition: all 0.5s;
}
.district-1 .recommend .right .recommend-swiper .swiper .swiper-slide .chanshu a:hover {
  background-color: #ffffff;
  color: #2680eb;
  border: none;
}
/* 重磅推荐结束 */
/* 产品部分开始 */
.district-2 {
  width: 19.2rem;
  margin: 0 auto;
  margin-top: 1.2rem;
}
.district-2 .product {
  width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.district-2 .product .left .top {
  display: flex;
  justify-content: space-between;
  width: 11.3rem;
}
.district-2 .product .left .top .menu {
  /**
                 * Submenu
                 -----------------------------*/
}
.district-2 .product .left .top .menu .accordion {
  width: 3.03rem;
  background: #FFF;
}
.district-2 .product .left .top .menu .accordion .link {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3001rem .3001rem;
  font-size: .24rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #2680eb;
}
.district-2 .product .left .top .menu .accordion li:last-child .link {
  border-bottom: 0;
}
.district-2 .product .left .top .menu .accordion li i.icon-xiajiantou {
  font-size: .3001rem;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.district-2 .product .left .top .menu .accordion li i.activate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.district-2 .product .left .top .menu .submenu {
  display: none;
  background: #E8ECF2;
  padding: 0 .3001rem;
}
.district-2 .product .left .top .menu .submenu .submenu-activate a {
  color: #2680eb;
}
.district-2 .product .left .top .menu .submenu .submenu-activate a i {
  visibility: visible;
}
.district-2 .product .left .top .menu .submenu li {
  border-bottom: .01rem solid #edf0f5;
}
.district-2 .product .left .top .menu .submenu a {
  display: block;
  text-decoration: none;
  padding: .22rem 0;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-size: .2001rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #0f335e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.district-2 .product .left .top .menu .submenu a span {
  line-height: .24rem;
}
.district-2 .product .left .top .menu .submenu a i {
  visibility: hidden;
  font-size: .3001rem;
  color: #2680eb;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content {
  width: 8.05rem;
  height: 8.5599rem;
  overflow: hidden;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide {
  width: 8.05rem;
  height: 8.5599rem;
  padding: 0 0.2rem;
  background: #E8ECF2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .img {
  width: 5.03rem;
  margin: 0 auto;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .img img {
  width: 100%;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .title h1 {
  font-size: .36rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #0f335e;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .title a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: .5199rem;
  background: #2680eb;
  color: #ffffff;
  border: .01rem solid #2680eb;
  transition: all 0.5s;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .title a:hover {
  background: #ffffff;
  color: #2680eb;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .title a span {
  font-size: .22rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .title a i {
  margin-left: .0801rem;
  font-size: .25rem;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .parameter {
  display: flex;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .parameter li {
  flex: 1;
  padding: 0 0.1rem;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .parameter li span {
  font-size: .2001rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #0f335e;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide .parameter li p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: .2rem;
  font-size: .2499rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #0f335e;
  line-height: 0.3rem;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide h2 span {
  font-size: .2001rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #0f335e;
}
.district-2 .product .left .top .middle .accordion-content .submenu-content .swiper-slide h2 p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 85%;
  font-size: .2001rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #0f335e;
  line-height: .36rem;
}
.district-2 .product .left .product-streamer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: .8799rem;
  width: 11.3199rem;
  height: 2.27rem;
  background: url(../images/chan-pin-zhong-xin-img/jiangbeibg.jpg) no-repeat;
}
.district-2 .product .left .product-streamer .left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.district-2 .product .left .product-streamer .left img {
  width: 4.54rem;
}
.district-2 .product .left .product-streamer .right {
  padding-right: .3101rem;
  display: flex;
  align-items: center;
}
.district-2 .product .left .product-streamer .right > div {
  margin-right: .7699rem;
}
.district-2 .product .left .product-streamer .right > div p {
  font-size: .2899rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  letter-spacing: .0261rem;
}
.district-2 .product .left .product-streamer .right > div p:nth-of-type(2) {
  margin-top: .3201rem;
  padding-left: .81rem;
}
.district-2 .product .left .product-streamer .right form {
  display: flex;
  flex-direction: column;
  font-size: 0;
}
.district-2 .product .left .product-streamer .right form div {
  display: flex;
  flex-direction: column;
}
.district-2 .product .left .product-streamer .right form input {
  outline: none;
  width: 2.0899rem;
  height: .4099rem;
  border: none;
  padding-left: .1699rem;
  background: rgba(255, 255, 255, 0.2);
  border: .01rem solid #ffffff;
  font-size: .1599rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  margin-bottom: .14rem;
}
.district-2 .product .left .product-streamer .right form button {
  border: none;
  width: 2.0899rem;
  height: .4201rem;
  background: #ffd500;
  font-size: .1599rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  color: #000000;
  letter-spacing: .0033rem;
  transition: all 0.5s;
}
.district-2 .product .left .product-streamer .right form button:hover {
  background-color: #ffffff;
}
.district-2 .product .left .product-streamer .right form input::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: .1599rem;
  color: #ffffff;
}
.district-2 .product .left .product-streamer .right form input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: .1599rem;
  color: #ffffff;
}
.district-2 .product .left .product-streamer .right form input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: .1599rem;
  color: #ffffff;
}
.district-2 .product .left .product-streamer .right form input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: .1599rem;
  color: #ffffff;
}
.district-2 .product .right ul li {
  border: .01rem solid #eeeeee;
  border-radius: .0399rem;
  margin-bottom: .23rem;
  transition: all 0.5s;
}
.district-2 .product .right ul li:hover {
  border-color: #2680eb;
}
.district-2 .product .right ul li:hover .img {
  transform: scale(1.2);
}
.district-2 .product .right ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}
.district-2 .product .right ul li a {
  position: relative;
  width: 3.3999rem;
  height: 3.46rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.district-2 .product .right ul li a .logo {
  position: absolute;
  left: -0.02rem;
  top: -0.02rem;
  z-index: 10;
}
.district-2 .product .right ul li a .logo img {
  width: 1.2801rem;
}
.district-2 .product .right ul li a .img {
  width: 2.37rem;
  transition: all 1s;
}
.district-2 .product .right ul li a .img img {
  width: 100%;
}
.district-2 .product .right ul li a p {
  padding: 0 .3001rem;
  font-size: .26rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  color: #0f335e;
  line-height: 0.36rem;
}
/* 产品部分结束 */
.district-3 {
  width: 19.2rem;
  margin: 0 auto;
  height: 4.07rem;
  background: #E8ECF2;
  margin-top: .8rem;
}
.district-3 .district-3-content {
  width: 15rem;
  margin: 0 auto;
}
.district-3 .district-3-content ul {
  height: 4.07rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.district-3 .district-3-content ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.district-3 .district-3-content ul li i {
  height: .8001rem;
  width: .01rem;
  opacity: 0.2;
  background-color: #0f335e;
}
.district-3 .district-3-content ul li img {
  width: .9101rem;
}
.district-3 .district-3-content ul li p {
  margin-top: .45rem;
  font-size: .26rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: center;
  color: #0f335e;
}
.district-3 .district-3-content ul li span {
  margin: .0701rem 0 .3101rem 0;
  font-size: .14rem;
  font-family: Arial, Arial-Regular;
  font-weight: 400;
  text-align: center;
  color: #0f335e;
}
.district-3 .district-3-content ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5201rem;
  height: .45rem;
  border: .01rem solid #0f335e;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  color: #0f335e;
  transition: all 0.5s;
}
.district-3 .district-3-content ul li a:hover {
  background: #2680eb;
  color: #fff;
  border: .01rem solid #2680eb;
}
/* 底部开始 */
footer {
  width: 19.2rem;
  margin: 0 auto;
  margin-bottom: 1.1501rem;
  transition: all 0.5s;
}
footer .district-5 {
  background: #262a32;
}
footer .district-5 .district-5-content {
  width: 15rem;
  margin: 0 auto;
}
footer .district-5 .district-5-content .top ul {
  border-bottom: .01rem solid #535f6d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5401rem 0;
}
footer .district-5 .district-5-content .top ul li {
  display: flex;
  align-items: center;
}
footer .district-5 .district-5-content .top ul li img {
  margin-right: .39rem;
}
footer .district-5 .district-5-content .top ul li span {
  font-size: .24rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}
footer .district-5 .district-5-content .top ul li p {
  width: 2.79rem;
  margin-top: .1901rem;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #9faab8;
  line-height: .2799rem;
}
footer .district-5 .district-5-content .bottom {
  padding-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .district-5 .district-5-content .bottom .contact-way .contact-way-title {
  padding: .47rem 0 .5rem 0;
  font-size: .24rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}
footer .district-5 .district-5-content .bottom .contact-way .contact-way-content {
  display: flex;
  align-items: center;
}
footer .district-5 .district-5-content .bottom .contact-way .contact-way-content div {
  margin-left: .23rem;
}
footer .district-5 .district-5-content .bottom .contact-way .contact-way-content div span {
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #9faab8;
}
footer .district-5 .district-5-content .bottom .contact-way .contact-way-content div p {
  margin-top: .1599rem;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
footer .district-5 .district-5-content .bottom .contact-way .contact-way-content div h2 {
  margin-top: .11rem;
  font-size: .3001rem;
  font-family: Arial, Arial-Bold;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
footer .district-5 .district-5-content .bottom .recommend .recommend-title {
  padding: .47rem 0 .5rem 0;
  font-size: .24rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}
footer .district-5 .district-5-content .bottom .recommend ul {
  display: flex;
}
footer .district-5 .district-5-content .bottom .recommend ul li {
  margin-right: .5rem;
  display: flex;
  flex-direction: column;
}
footer .district-5 .district-5-content .bottom .recommend ul li:nth-last-of-type(1) {
  margin-right: 0;
}
footer .district-5 .district-5-content .bottom .recommend ul li a {
  margin-bottom: .48rem;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #a8a9ad;
  transition: all 0.5s;
}
footer .district-5 .district-5-content .bottom .recommend ul li a:hover {
  color: #2680eb;
}
footer .district-5 .district-5-content .bottom .recommend ul li a:nth-last-of-type(1) {
  margin-bottom: 0;
}
footer .district-5 .district-5-content .bottom .consult {
  margin-top: .4099rem;
}
footer .district-5 .district-5-content .bottom .consult img {
  width: 2.25rem;
}
footer .district-5 .district-5-content .bottom .consult p {
  margin: .27rem 0;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  color: #ffd500;
}
footer .district-5 .district-5-content .bottom .consult a {
  width: 2.49rem;
  height: .57rem;
  line-height: .5501rem;
  background: #2680eb;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s;
  border: .01rem solid transparent;
}
footer .district-5 .district-5-content .bottom .consult a:hover {
  border: .01rem solid #fff;
  background: none;
}
footer .district-6 {
  background: #0b161e;
  padding: .2799rem 0 .3999rem 0;
  position: relative;
}
footer .district-6 .district-6-content {
  width: 15rem;
  margin: 0 auto;
}
footer .district-6 .district-6-content p {
  margin-bottom: .26rem;
  font-size: .1599rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #a8a9ad;
}
footer .district-6 .district-6-content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .district-6 .district-6-content ul li {
  font-size: .1599rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #a8a9ad;
}
footer .district-6 .district-6-content ul li a {
  color: #a8a9ad;
  text-decoration: underline !important;
}
footer .district-6 .district-6-content ul li a:hover {
  color: #2680eb;
  transition: all 0.5s;
}
/* 底部结束 */
/* 底部固定定位开始 */
.fixed-streamer {
  width: 19.2rem;
  margin: 0 auto;
  height: 1.1501rem;
  background: url(../images/index-img/footer-fixed-bg.jpg) no-repeat;
  background-size: 100% 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 8888;
  transition: all 1s;
}
.fixed-streamer .fixed-streamer-content {
  width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}
.fixed-streamer .fixed-streamer-content > img {
  width: 2.01rem;
  position: absolute;
  left: -1.06rem;
  bottom: 0;
}
.fixed-streamer .fixed-streamer-content .left {
  margin-left: 1.01rem;
}
.fixed-streamer .fixed-streamer-content .left p {
  margin-bottom: .1901rem;
  font-size: .3001rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
.fixed-streamer .fixed-streamer-content .left span {
  margin-left: 1.05rem;
  font-size: .3001rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #ffd500;
}
.fixed-streamer .fixed-streamer-content .right .fixed-streamer-title {
  width: 100%;
  margin-bottom: .1599rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fixed-streamer .fixed-streamer-content .right .fixed-streamer-title p {
  font-size: .2001rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #fafbfd;
}
.fixed-streamer .fixed-streamer-content .right .fixed-streamer-title p span {
  color: #ffd500;
}
.fixed-streamer .fixed-streamer-content .right .fixed-streamer-title h2 {
  font-size: .2001rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #ffd500;
}
.fixed-streamer .fixed-streamer-content .right form {
  display: flex;
  font-size: 0;
}
.fixed-streamer .fixed-streamer-content .right form input {
  outline: none;
  border: none;
  padding-left: .1699rem;
  background: rgba(255, 255, 255, 0.1);
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
.fixed-streamer .fixed-streamer-content .right form #name {
  width: 3.2rem;
  height: .46rem;
  margin-right: .17rem;
}
.fixed-streamer .fixed-streamer-content .right form #phone {
  width: 3.2rem;
  height: .46rem;
}
.fixed-streamer .fixed-streamer-content .right form button {
  border: none;
  margin-left: .17rem;
  width: 1.9901rem;
  height: .46rem;
  background: #2680eb;
  font-size: .1699rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.fixed-streamer .footer-fixed-guanbi {
  position: absolute;
  right: 2%;
  top: .1699rem;
}
.fixed-streamer .footer-fixed-guanbi img {
  cursor: pointer;
  width: .21rem;
}
/* 底部固定定位结束 */
.small-fixed-streamer {
  width: 2.63rem;
  height: .94rem;
  background: url(../images/index-img/footer-fixed-bg2.png) no-repeat;
  background-size: 100% 100%;
  position: fixed;
  right: -2.63rem;
  bottom: 0;
  z-index: 8888;
  transition: all 1s;
}
.small-fixed-streamer .tiaozhuan {
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.small-fixed-streamer .tiaozhuan h2 {
  font-size: .1599rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.small-fixed-streamer .tiaozhuan h2 span {
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
.small-fixed-streamer .tiaozhuan p {
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  color: #fafbfd;
}
.small-fixed-streamer .tiaozhuan p span {
  color: #ffd500;
}
