body {
    overflow: hidden;
}

.w-1920 {
    width: 19.2rem;
    margin: 0 auto;
}

.w-1500 {
    width: 15rem;
    margin: 0 auto;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgb(255, 255, 255, 0.5);
}



header {

    .top-bar {
        background-color: #f6f6f6;
        height: .5rem;

        >div {
            .w-1500;
            .flex-space-between;
            height: 100%;



            .left {
                font-size: .1801rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #666666;
            }


            ul {
                .flex-center;

                li {
                    font-size: .1801rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: right;
                    color: #666666;

                    &:nth-of-type(2n) {
                        width: .02rem;
                        height: .13rem;
                        background: #999999;
                        margin: 0 .15rem;
                    }

                }
            }
        }
    }



    .bottom-bar {
        padding: .34rem 0;

        .bottom-bar-content {
            .w-1500;
            .flex-space-between;

            .left {
                .flex-center;

                div {
                    margin-left: .3201rem;

                    h2 {
                        font-size: .25rem;
                        font-family: SourceHanSansCN-Bold;
                        text-align: left;
                        color: #000;
                        font-weight: 700;

                        span {

                            color: #2680eb;
                        }
                    }

                    p {
                        margin-top: .11rem;
                        font-size: .1901rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #333333;
                    }
                }
            }

            .right {
                p {
                    display: flex;
                    align-items: center;

                    img {
                        width: .23rem;
                        margin-right: .0801rem;
                    }

                    span {
                        font-size: .2001rem;
                        font-family: SourceHanSansCN-Regular;
                        text-align: left;
                        color: #000000;
                    }
                }

                h2 {
                    margin-top: .1rem;
                    font-size: .33rem;
                    font-family: SourceHanSansCN-Bold;
                    text-align: right;
                    color: #2680eb;
                    font-weight: 700;
                }
            }
        }

    }
}

/* 头部结束 */


/* 导航栏开始 */
.nav {
    .w-1920;
    background: #000;
    box-shadow: 0rem .0601rem .0601rem 0rem rgba(38, 128, 235, 0.04);
    transition: all 1s;

    >ul {
        .w-1500;
        display: flex;
        justify-content: space-between;


        .activate {
            background: #2680eb !important;

            a {
                color: #ffffff !important;
            }

        }

        >li {
            position: relative;

            >a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.4899rem;
                height: .83rem;
                font-size: .1801rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #ffffff;

                i {
                    margin-left: .0499rem;
                    font-size: .25rem;
                    transition: all 1s;
                }
            }

            ul {
                display: none;
                background: #2680eb;
                position: absolute;
                z-index: 100;
                left: 0;
                top: .83rem;
                padding-bottom: .2001rem;

                li {
                    >a {
                        display: inline-block;
                        width: 1.4899rem;
                        padding: .25rem 0;
                        position: relative;
                        opacity: 0.5;
                        font-size: .1599rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;

                        &:hover {
                            opacity: 1;

                            p {
                                display: block;
                            }
                        }

                        p {
                            display: none;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 0;
                            width: .2001rem;
                            height: .03rem;
                            background-color: #ffffff;
                        }
                    }
                }

            }
        }


    }

}

/* 导航栏结束 */

/* banner开始 */
.banner {
    .w-1920;
    position: relative;
    font-size: 0;

    img {
        width: 100%;
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 2.1001rem;
        width: 9.81rem;
        height: 6.3999rem;
        background: url(../images/chan-pin-zhong-xin-img/banner-left.png) no-repeat;
        position: absolute;
        left: 0;
        top: 0;

        h1 {
            font-size: .36rem;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: left;
            color: #ffffff;
        }

        i {
            margin: .45rem 0;
            width: .87rem;
            height: .0399rem;
            background-color: #ffffff;
            border-radius: .02rem;
        }

        p {
            width: 6.03rem;
            font-size: .1801rem;
            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
            font-weight: 400;
            text-align: left;
            color: #ffffff;
            line-height: .3001rem;
        }
    }




    .banner-streamer {
        width: 15rem;
        height: 1.21rem;
        background: #2680eb;
        position: absolute;
        left: 50%;
        bottom: -0.61rem;
        transform: translateX(-50%);

        ul {
            display: flex;
            align-items: center;
            height: 100%;

            li {

                &:hover a {
                    border: .01rem solid #ffffff;
                }

                &:hover a p {
                    display: none;
                }

                h2 {
                    margin-left: .37rem;
                    font-size: .24rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                    font-weight: 500;
                    text-align: left;
                    color: #ffffff;
                }

                a {
                    border: .01rem solid transparent;
                    position: relative;
                    display: inline-block;
                    padding: .13rem .3001rem;
                    font-size: .1801rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #ffffff;

                    p {
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        width: .21rem;
                        height: .02rem;
                        background-color: #ffffff;
                    }
                }
            }
        }
    }

}

/* banner结束 */

/* 重磅推荐开始 */
.district-1 {
    .w-1920;
    margin-top: 1.41rem;

    .recommend {
        .w-1500;
        .flex-space-between;

        .left {

            height: 3.5199rem;
            position: relative;

            h1 {
                font-size: .36rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #0f335e;
            }

            span {
                margin: .3999rem 0;
                display: block;
                width: .82rem;
                height: .0399rem;
                background-color: #2680eb;
                border-radius: .02rem;
            }

            p {
                width: 6.38rem;
                font-size: .2001rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #9faab8;
                line-height: .36rem;
            }

            .swiper-button-prev {
                position: absolute;
                left: 0;
                top: 100%;
                width: .81rem;
                height: .5501rem;
                background: #fafbfd;
                transform: translateY(-50%);
                transition: all 0.5s;

                i {
                    font-size: .4401rem;
                    color: #000;
                    transition: all 0.5s;
                }

                &:hover {
                    background: #2680eb;

                    i {
                        color: #fff;
                    }
                }
            }

            .swiper-button-next {
                left: .9999rem;
                width: .81rem;
                height: .5501rem;
                top: 100%;
                background: #fafbfd;
                transform: translateY(-50%);
                transition: all 0.5s;

                i {
                    font-size: .4401rem;
                    color: #000;
                    transition: all 0.5s;
                }

                &:hover {
                    background: #2680eb;

                    i {
                        color: #fff;
                    }
                }
            }

            .swiper-button-prev::after {
                display: none;
            }

            .swiper-button-next::after {
                display: none;
            }


        }

        .right {
            .recommend-swiper {

                .swiper {
                    width: 7.1rem;
                    height: 3.5199rem;
                    padding-top: .0601rem;

                    .swiper-slide {
                        width: 3.3999rem !important;
                        height: 3.46rem;
                        border: .01rem solid #eeeeee;
                        border-radius: .1599rem .0399rem .0399rem .0399rem;
                        // overflow: hidden;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;

                        &:hover {
                            .chanshu {
                                transform: translateY(-3.46rem);
                            }

                            i {
                                img {
                                    transform: scale(1.2);
                                }
                            }

                        }

                        .logo {
                            position: absolute;
                            left: -0.0801rem;
                            top: -0.0701rem;
                            z-index: 3;

                            img {
                                width: .99rem;
                            }
                        }

                        i {
                            text-align: center;

                            img {
                                width: 2.37rem;
                                transition: all 1s;
                            }
                        }

                        >p {
                            padding: 0 .2001rem;
                            font-size: .26rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: center;
                            color: #0f335e;
                        }

                        .chanshu {
                            border-radius: .1599rem .0399rem .0399rem .0399rem;
                            transition: all 1s;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            background-color: rgba(38, 128, 235, 0.9);
                            left: 0;
                            top: 3.46rem;

                            h2 {
                                font-size: .26rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                                font-weight: 700;
                                text-align: center;
                                color: #ffffff;
                            }

                            div {
                                padding: 0 .3001rem;

                                p {
                                    line-height: .2799rem;
                                    font-size: .1801rem;
                                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                    font-weight: 400;
                                    text-align: center;
                                    color: #ffffff;
                                }
                            }

                            a {
                                .flex-center;
                                width: 1.45rem;
                                height: .4099rem;
                                background: rgba(255, 255, 255, 0.10);
                                border: .01rem solid #ffffff;
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #ffffff;
                                transition: all 0.5s;

                                &:hover {
                                    background-color: #ffffff;
                                    color: #2680eb;
                                    border: none;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 重磅推荐结束 */


/* 产品部分开始 */
.district-2 {
    .w-1920;
    margin-top: 1.2rem;

    .product {
        .w-1500;
        display: flex;
        justify-content: space-between;

        .left {

            .top {
                display: flex;
                justify-content: space-between;
                width: 11.3rem;

                .menu {
                    .accordion {
                        width: 3.03rem;
                        background: #FFF;
                    }

                    .accordion .link {
                        cursor: pointer;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: .3001rem .3001rem;
                        font-size: .24rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #ffffff;
                        position: relative;
                        -webkit-transition: all 0.4s ease;
                        -o-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                        background: #2680eb;

                    }

                    .accordion li:last-child .link {
                        border-bottom: 0;
                    }


                    .accordion li i.icon-xiajiantou {
                        font-size: .3001rem;
                        color: #ffffff;
                        -webkit-transition: all 0.4s ease;
                        -o-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                    }

                    .accordion li i.activate {
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

                    /**
                 * Submenu
                 -----------------------------*/
                    .submenu {
                        display: none;
                        background: #fafbfd;
                        padding: 0 .3001rem;

                        .submenu-activate {
                            a {
                                color: #2680eb;

                                i {
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    .submenu li {
                        border-bottom: .01rem solid #edf0f5;
                    }

                    .submenu a {
                        display: block;
                        text-decoration: none;
                        padding: .22rem 0;
                        -webkit-transition: all 0.25s ease;
                        -o-transition: all 0.25s ease;
                        transition: all 0.25s ease;
                        font-size: .2001rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #5e6e84;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            line-height: .24rem;
                        }

                        i {
                            visibility: hidden;
                            font-size: .3001rem;
                            color: #2680eb;
                        }
                    }
                }




                .middle {
                    .accordion-content {

                        .submenu-content {
                            width: 8.05rem;
                            height: 8.5599rem;
                            overflow: hidden;

                            .swiper-slide {
                                width: 8.05rem;
                                height: 8.5599rem;
                                background: #fafbfd;
                                padding-left: .47rem;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;

                                .img {
                                    width: 4.82rem;
                                    margin: 0 auto;

                                    img {
                                        width: 100%;
                                    }
                                }

                                .title {
                                    .flex-space-between;

                                    h1 {
                                        font-size: .36rem;
                                        font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                                        font-weight: 700;
                                        text-align: left;
                                        color: #0f335e;
                                    }

                                    a {
                                        .flex-center;
                                        width: 1.8rem;
                                        height: .5199rem;
                                        background: #2680eb;
                                        color: #ffffff;
                                        border: .01rem solid #2680eb;
                                        transition: all 0.5s;

                                        &:hover {
                                            background: #ffffff;
                                            color: #2680eb;
                                        }

                                        span {
                                            font-size: .22rem;
                                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                            font-weight: 400;
                                            text-align: left;

                                        }

                                        i {
                                            margin-left: .0801rem;
                                            font-size: .25rem;

                                        }
                                    }
                                }

                                .parameter {
                                    display: flex;

                                    li {
                                        flex: 1;
                                        padding-right: .3001rem;

                                        span {
                                            font-size: .2001rem;
                                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                            font-weight: 400;
                                            text-align: left;
                                            color: #9faab8;
                                        }

                                        p {
                                            margin-top: .25rem;
                                            font-size: .2799rem;
                                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                                            font-weight: 700;
                                            text-align: left;
                                            color: #0f335e;
                                        }
                                    }
                                }

                                h2 {
                                    .flex-center;

                                    span {
                                        margin-right: .2001rem;
                                        font-size: .2001rem;
                                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                        font-weight: 400;
                                        text-align: left;
                                        color: #0f335e;
                                    }

                                    p {
                                        width: 5.9rem;
                                        font-size: .2001rem;
                                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                        font-weight: 400;
                                        text-align: left;
                                        color: #5e6e84;
                                        line-height: .36rem;
                                    }
                                }
                            }
                        }

                    }
                }
            }

            .product-streamer {
                position: relative;
                display: flex;
                justify-content: flex-end;
                margin-top: .8799rem;
                width: 11.3199rem;
                height: 2.27rem;
                background: url(../images/chan-pin-zhong-xin-img/jiangbeibg.jpg) no-repeat;

                .left {
                    position: absolute;
                    left: 0;
                    bottom: 0;

                    img {
                        width: 4.54rem;
                    }
                }

                .right {
                    padding-right: .3101rem;
                    display: flex;
                    align-items: center;

                    >div {
                        margin-right: .7699rem;

                        p {
                            &:nth-of-type(2) {
                                margin-top: .3201rem;
                                padding-left: .81rem;
                            }

                            font-size: .2899rem;
                            font-family: Source Han Sans CN,
                            Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: left;
                            color: #ffffff;
                            letter-spacing: .0261rem;
                        }
                    }

                    form {
                        display: flex;
                        flex-direction: column;
                        font-size: 0;

                        div {
                            display: flex;
                            flex-direction: column;
                        }

                        input {
                            outline: none;
                            width: 2.0899rem;
                            height: .4099rem;
                            border: none;
                            padding-left: .1699rem;
                            background: rgba(255, 255, 255, 0.20);
                            border: .01rem solid #ffffff;
                            font-size: .1599rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #ffffff;
                            margin-bottom: .14rem;
                        }

                        button {
                            border: none;
                            width: 2.0899rem;
                            height: .4201rem;
                            background: #ffd500;
                            font-size: .1599rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: center;
                            color: #000000;
                            letter-spacing: .0033rem;
                            transition: all 0.5s;

                            &:hover {
                                background-color: #ffffff;
                            }
                        }

                        input::-webkit-input-placeholder {
                            /* WebKit browsers */
                            font-size: .1599rem;
                            color: #ffffff;
                        }

                        input:-moz-placeholder {
                            /* Mozilla Firefox 4 to 18 */
                            font-size: .1599rem;
                            color: #ffffff;

                        }

                        input::-moz-placeholder {
                            /* Mozilla Firefox 19+ */
                            font-size: .1599rem;
                            color: #ffffff;

                        }

                        input:-ms-input-placeholder {
                            /* Internet Explorer 10+ */
                            font-size: .1599rem;
                            color: #ffffff;
                        }


                    }
                }
            }
        }

        .right {
            ul {
                li {

                    border: .01rem solid #eeeeee;
                    border-radius: .0399rem;
                    margin-bottom: .23rem;
                    transition: all 0.5s;

                    &:hover {
                        border-color: #2680eb;

                        .img {
                            transform: scale(1.2);
                        }
                    }


                    &:nth-last-of-type(1) {
                        margin-bottom: 0;
                    }

                    a {
                        position: relative;
                        width: 3.3999rem;
                        height: 3.46rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;

                        .logo {
                            position: absolute;
                            left: -0.02rem;
                            top: -0.02rem;

                            img {
                                width: 1.2801rem;
                            }
                        }

                        .img {
                            width: 2.3601rem;
                            transition: all 1s;

                            img {
                                width: 100%;
                            }
                        }

                        p {
                            padding: .3001rem;
                            font-size: .26rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: center;
                            color: #0f335e;
                        }
                    }
                }
            }
        }
    }
}

/* 产品部分结束 */

.district-3 {
    .w-1920;
    height: 4.07rem;
    background: #fafbfd;

    .district-3-content {
        .w-1500;

        ul {
            height: 4.07rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li {
                .flex-center;
                flex-direction: column;

                i {
                    height: .8001rem;
                    width: .01rem;
                    opacity: 0.2;
                    background-color: #0f335e;
                }

                img {
                    width: .9101rem;
                }

                p {
                    margin-top: .45rem;
                    font-size: .26rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                    font-weight: 500;
                    text-align: center;
                    color: #0f335e;
                }

                span {
                    margin: .0701rem 0 .3101rem 0;
                    font-size: .14rem;
                    font-family: Arial, Arial-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #9faab8;
                }

                a {
                    .flex-center;

                    width: 1.5201rem;
                    height: .45rem;
                    border: .01rem solid #0f335e;
                    font-size: .1801rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                    font-weight: 500;
                    color: #0f335e;
                    transition: all 0.5s;

                    &:hover {
                        background: #2680eb;
                        color: #fff;
                        border: .01rem solid #2680eb;
                    }
                }
            }
        }
    }
}



/* 底部开始 */
footer {
    .w-1920;
    margin-bottom: 1.1501rem;
    transition: all 0.5s;

    .district-5 {
        background: #262a32;

        .district-5-content {
            .w-1500;

            .top {
                ul {
                    border-bottom: .01rem solid #535f6d;
                    .flex-space-between;
                    padding: .5401rem 0;

                    li {
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: .39rem;
                        }

                        span {
                            font-size: .24rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                            font-weight: 500;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            width: 2.79rem;
                            margin-top: .1901rem;
                            font-size: .1801rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #9faab8;
                            line-height: .2799rem;
                        }
                    }
                }
            }

            .bottom {
                padding-bottom: .5rem;
                .flex-space-between;

                .contact-way {
                    .contact-way-title {
                        padding: .47rem 0 .5rem 0;
                        font-size: .24rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    .contact-way-content {
                        display: flex;
                        align-items: center;

                        div {
                            margin-left: .23rem;

                            span {
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #9faab8;
                            }

                            p {
                                margin-top: .1599rem;
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #ffffff;
                            }

                            h2 {
                                margin-top: .11rem;
                                font-size: .3001rem;
                                font-family: Arial, Arial-Bold;
                                font-weight: 700;
                                text-align: left;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .recommend {
                    .recommend-title {
                        padding: .47rem 0 .5rem 0;
                        font-size: .24rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    ul {
                        display: flex;

                        li {
                            margin-right: .5rem;
                            display: flex;
                            flex-direction: column;

                            &:nth-last-of-type(1) {
                                margin-right: 0;
                            }

                            a {
                                margin-bottom: .48rem;
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #a8a9ad;
                                transition: all 0.5s;

                                &:hover {
                                    color: #2680eb;
                                }

                                &:nth-last-of-type(1) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .consult {
                    margin-top: .4099rem;

                    img {
                        width: 2.25rem;
                    }

                    p {
                        margin: .27rem 0;
                        font-size: .1801rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffd500;
                    }

                    a {
                        width: 2.49rem;
                        height: .57rem;
                        line-height: .5501rem;
                        background: #2680eb;
                        font-size: .1801rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;
                        transition: all 0.5s;
                        border: .01rem solid transparent;

                        &:hover {
                            border: .01rem solid #fff;
                            background: none;

                        }
                    }
                }
            }
        }
    }

    .district-6 {
        background: #0b161e;
        padding: .2799rem 0 .3999rem 0;
        position: relative;

        .district-6-content {
            .w-1500;

            p {
                margin-bottom: .26rem;
                font-size: .1599rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #a8a9ad;
            }

            ul {
                .flex-space-between;

                li {
                    font-size: .1599rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #a8a9ad;

                    a {
                        color: #a8a9ad;
                        text-decoration: underline !important;


                        &:hover {
                            color: #2680eb;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
}

/* 底部结束 */

/* 底部固定定位开始 */
.fixed-streamer {
    .w-1920;
    height: 1.1501rem;
    background: url(../images/index-img/footer-fixed-bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 8888;

    transition: all 1s;

    .fixed-streamer-content {
        .w-1500;
        .flex-space-between;
        position: relative;

        height: 100%;

        >img {
            width: 2.3299rem;
            position: absolute;
            left: 3.0499rem;
            bottom: 0;
        }

        .left {
            p {
                margin-bottom: .1901rem;
                font-size: .3001rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }

            span {
                margin-left: 1.05rem;
                font-size: .3001rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffd500;
            }
        }

        .right {
            .fixed-streamer-title {
                width: 100%;
                margin-bottom: .1599rem;
                .flex-space-between;

                p {
                    font-size: .2001rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #fafbfd;

                    span {
                        color: #ffd500;
                    }
                }

                h2 {
                    font-size: .2001rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #ffd500;
                }
            }

            form {
                display: flex;
                font-size: 0;

                input {
                    outline: none;
                    border: none;
                    padding-left: .1699rem;
                    background: rgba(255, 255, 255, 0.10);
                    font-size: .14rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: rgb(255, 255, 255, 0.5);
                }

                #name {
                    width: 2.04rem;
                    height: .46rem;
                    margin-right: .2001rem;

                }

                #phone {
                    width: 3.7699rem;
                    height: .46rem;

                }

                button {
                    border: none;
                    margin-left: .2001rem;
                    width: 1.9901rem;
                    height: .46rem;
                    background: #2680eb;
                    font-size: .1699rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }

    .footer-fixed-guanbi {
        position: absolute;
        right: 2%;
        top: .1699rem;

        img {
            width: .21rem;
            cursor: pointer;
        }
    }
}

/* 底部固定定位结束 */

.small-fixed-streamer {
    width: 2.63rem;
    height: .94rem;
    background: url(../images/index-img/footer-fixed-bg2.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: -2.63rem;
    bottom: 0;
    z-index: 8888;
    transition: all 1s;

    .tiaozhuan {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h2 {
            font-size: .1599rem;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #ffffff;

            span {
                font-size: .1801rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }
        }

        p {
            font-size: .1801rem;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #fafbfd;

            span {
                color: #ffd500;
            }
        }
    }
}