body {
    overflow: hidden;
}

.w-1920 {
    width: 1920px;
    margin: 0 auto;
}

.w-1500 {
    width: 1500px;
    margin: 0 auto;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 14px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgb(255, 255, 255, 0.5);
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgb(255, 255, 255, 0.5);
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 14px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgb(255, 255, 255, 0.5);
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 14px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgb(255, 255, 255, 0.5);
}



header {

    .top-bar {
        background-color: #f6f6f6;
        height: 50px;

        >div {
            .w-1500;
            .flex-space-between;
            height: 100%;



            .left {
                font-size: 18px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #666666;
            }


            ul {
                .flex-center;

                li {
                    font-size: 18px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: right;
                    color: #666666;

                    &:nth-of-type(2n) {
                        width: 2px;
                        height: 13px;
                        background: #999999;
                        margin: 0 15px;
                    }

                }
            }
        }
    }



    .bottom-bar {
        padding: 34px 0;

        .bottom-bar-content {
            .w-1500;
            .flex-space-between;

            .left {
                .flex-center;

                div {
                    margin-left: 32px;

                    h2 {
                        font-size: 25px;
                        font-family: SourceHanSansCN-Bold;
                        text-align: left;
                        color: #000;
                        font-weight: 700;

                        span {

                            color: #2680eb;
                        }
                    }

                    p {
                        margin-top: 11px;
                        font-size: 19px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #333333;
                    }
                }
            }

            .right {
                p {
                    display: flex;
                    align-items: center;

                    img {
                        width: 23px;
                        margin-right: 8px;
                    }

                    span {
                        font-size: 20px;
                        font-family: SourceHanSansCN-Regular;
                        text-align: left;
                        color: #000000;
                    }
                }

                h2 {
                    margin-top: 10px;
                    font-size: 33px;
                    font-family: SourceHanSansCN-Bold;
                    text-align: right;
                    color: #2680eb;
                    font-weight: 700;
                }
            }
        }

    }
}

/* 头部结束 */


/* 导航栏开始 */
.nav {
    .w-1920;
    background: #000;
    box-shadow: 0px 6px 6px 0px rgba(38, 128, 235, 0.04);
    transition: all 1s;

    >ul {
        .w-1500;
        display: flex;
        justify-content: space-between;


        .activate {
            background: #2680eb !important;

            a {
                color: #ffffff !important;
            }

        }

        >li {
            position: relative;

            >a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 149px;
                height: 83px;
                font-size: 18px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #ffffff;

                i {
                    margin-left: 5px;
                    font-size: 25px;
                    transition: all 1s;
                }
            }

            ul {
                display: none;
                background: #2680eb;
                position: absolute;
                z-index: 100;
                left: 0;
                top: 83px;
                padding-bottom: 20px;

                li {
                    >a {
                        display: inline-block;
                        width: 149px;
                        padding: 25px 0;
                        position: relative;
                        opacity: 0.5;
                        font-size: 16px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;

                        &:hover {
                            opacity: 1;

                            p {
                                display: block;
                            }
                        }

                        p {
                            display: none;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 0;
                            width: 20px;
                            height: 3px;
                            background-color: #ffffff;
                        }
                    }
                }

            }
        }


    }

}

/* 导航栏结束 */

/* banner开始 */
.banner {
    .w-1920;
    height: 682px;
    background: url(../images/gong-si-jie-shao-img/banner.jpg);
    background-size: 100% 100%;

    .banner-content {
        .w-1500;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 36px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: left;
            color: #ffffff;
        }

        p {
            margin: 34px 0 40px 0;
            width: 689px;
            opacity: 0.8;
            font-size: 20px;
            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
            font-weight: 400;
            text-align: left;
            color: #ffffff;
            line-height: 36px;
        }

        div {
            position: relative;
            overflow: hidden;
            width: 187px;
            height: 57px;
            border: 1px solid #ffffff;

            &:hover a:nth-of-type(2) {
                bottom: 0;
            }

            &:hover a:nth-of-type(1) {
                transform: translateY(-57px);
            }

            a {
                .flex-center;
                width: 187px;
                height: 57px;

                transition: all 0.5s;

                img {
                    width: 42px;
                    margin-right: 4px;
                }

                span {
                    margin-right: 23px;
                    font-size: 24px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #ffffff;
                }

                i {
                    font-size: 33px;
                    color: #ffffff;
                }

                &:nth-of-type(2) {
                    background: #ffffff;
                    position: absolute;
                    left: 0;
                    bottom: -57px;
                    transition: all 0.5s;

                    span {
                        color: #2680EB;
                    }

                    i {

                        color: #2680EB;
                    }
                }
            }
        }
    }
}

/* banner结束 */


/* 品牌实力开始 */
.district-1 {
    .w-1920;

    .strength {
        .w-1500;

        .strength-title {
            h1 {
                padding: 70px 0 26px 0;
                font-size: 36px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: center;
                color: #0f335e;
            }

            p {
                margin-bottom: 49px;
                font-size: 16px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #5e6e84;
                line-height: 26px;
            }
        }

        .strength-content {
            .flex-space-between;

            .left {
                width: 567px;
                height: 396px;
                position: relative;

                ul {
                    width: 567px;
                    height: 396px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-content: space-between;

                    li {

                        h2 {
                            font-size: 51px;
                            font-family: Impact, Impact-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #2680eb;

                            span {
                                margin-left: 6px;
                                font-size: 26px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                                font-weight: 700;
                                text-align: left;
                                color: #2680eb;
                            }
                        }

                        p {
                            width: 220px;
                            margin-top: 23px;
                            font-size: 24px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                            font-weight: 500;
                            text-align: left;
                            color: #0f335e;
                            line-height: 36px;
                        }
                    }
                }

                .shu {
                    position: absolute;
                    opacity: 0.4;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    width: 0px;
                    height: 325px;
                    border: 1px dashed #9faab8;
                }

                .heng {
                    opacity: 0.4;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    width: 560px;
                    height: 0px;
                    border: 1px dashed #9faab8;
                }
            }

            .right {
                overflow: hidden;
                width: 784px;
                height: 451px;

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    transform: scale(1);
                    transition: all 1s;
                }
            }
        }
    }

    .scope {
        .w-1920;
        background: #fafbfd;

        .scope-content {
            padding: 45px 0;
            .w-1500;

            h1 {
                margin-bottom: 30px;
                font-size: 30px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #2680eb;
            }

            p {
                font-size: 20px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #5e6e84;
                line-height: 36px;

                &:nth-of-type(2) {
                    margin: 40px 0;
                }
            }
        }
    }

    .idea {
        .w-1920;
        background: #0f335e;

        .idea-content {
            padding: 50px 0 65px 0;
            .w-1500;

            h1 {
                margin-bottom: 30px;
                font-size: 30px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }

            p {
                font-size: 20px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #9faab8;
            }
        }
    }
}

/* 品牌实力结束 */

/* 企业文化开始 */
.district-2 {
    .w-1920;

    .culture {
        .w-1500;

        .culture-title {
            padding: 41px 0 113px 0;
            font-size: 36px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #0f335e;
        }

        ul {
            .flex-space-between;

            li {
                text-align: center;
                padding: 0 31px;
                width: 317px;
                height: 300px;
                background: #fafbfd;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 106px;
                    margin-top: -66px;
                }

                h2 {
                    margin: 47px 0 31px 0;
                    font-size: 30px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: center;
                    color: #0f335e;
                }

                p {
                    width: 42px;
                    height: 4px;
                    border-radius: 2px;
                    background: #5e6e84;
                }

                span {
                    margin-top: 36px;
                    font-size: 24px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #9faab8;
                    line-height: 42px;
                    letter-spacing: 1.44px;
                }
            }
        }
    }

    .values {
        .w-1920;
        background: #fafbfd;
        margin-top: 58px;

        .values-content {
            .w-1500;
            padding: 48px 0;
            .flex-space-between;

            .left {
                h1 {
                    margin-bottom: 51px;
                    font-size: 36px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #0f335e;
                }

                ul {
                    li {
                        margin-bottom: 32px;

                        &:nth-last-of-type(1) {
                            margin-bottom: 0;
                        }

                        p {
                            font-size: 20px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: left;
                            color: #0f335e;

                            span {

                                font-size: 20px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #5e6e84;
                            }
                        }
                    }
                }
            }

            .right {
                width: 708px;
                height: 349px;
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    transition: all 1s;
                }
            }
        }
    }

    .course {
        .w-1920;

        img {
            width: 100%;
        }
    }

    .show {
        .w-1920;
        background: #fafbfd;

        .show-content {
            .w-1500;
            padding: 87px 0 77px 0;

            ul {
                display: flex;

                li {
                    flex: 1;

                    >div {
                        padding-top: 60px;
                        padding-left: 29px;
                        width: 100%;
                        height: 309px;
                        position: relative;
                        background: #ffffff;
                        transition: all 1s;

                        p {
                            font-size: 32px;
                            font-family: Arial, Arial-Bold;
                            font-weight: 700;
                            text-align: left;
                            color: #0f335e;
                            line-height: 52px;
                            transition: all 1s;
                        }

                        span {
                            font-size: 36px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: left;
                            color: #0f335e;
                            line-height: 64px;
                            transition: all 1s;
                        }

                        div {
                            width: 0;
                            height: 0;
                            border: 25px solid transparent;
                            border-top: 20px solid #ffffff;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: -40px;
                            z-index: 2;
                            transition: all 1s;
                        }


                    }

                    i {
                        width: 100%;
                        height: 309px;
                        overflow: hidden;

                        img {
                            width: 100%;
                            transition: all 1s;
                        }
                    }

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }

                        >div {
                            background: #2680eb;

                            p {
                                color: #ffffff;
                            }

                            span {
                                color: #ffffff;
                            }

                            div {
                                border-top-color: #2680eb;
                            }
                        }
                    }
                }



                li:nth-of-type(2) {
                    >div {
                        padding-left: 45px;

                        div {
                            width: 0;
                            height: 0;
                            border: 25px solid transparent;
                            border-bottom: 20px solid #ffffff;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -40px;
                            z-index: 2;
                            transition: all 1s;
                        }
                    }

                    &:hover {
                        >div {
                            div {
                                border-bottom-color:
                                    #2680eb;
                            }
                        }
                    }
                }

                li:nth-of-type(3) {
                    >div {
                        padding-left: 65px;
                    }
                }


            }
        }

    }
}

/* 企业文化结束 */


/* 底部开始 */
footer {
    .w-1920;
    margin-bottom: 115px;
    transition: all 0.5s;

    .district-5 {
        background: #262a32;

        .district-5-content {
            .w-1500;

            .top {
                ul {
                    border-bottom: 1px solid #535f6d;
                    .flex-space-between;
                    padding: 54px 0;

                    li {
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: 39px;
                        }

                        span {
                            font-size: 24px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                            font-weight: 500;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            width: 279px;
                            margin-top: 19px;
                            font-size: 18px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #9faab8;
                            line-height: 28px;
                        }
                    }
                }
            }

            .bottom {
                padding-bottom: 50px;
                .flex-space-between;

                .contact-way {
                    .contact-way-title {
                        padding: 47px 0 50px 0;
                        font-size: 24px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    .contact-way-content {
                        display: flex;
                        align-items: center;

                        div {
                            margin-left: 23px;

                            span {
                                font-size: 18px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #9faab8;
                            }

                            p {
                                margin-top: 16px;
                                font-size: 18px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #ffffff;
                            }

                            h2 {
                                margin-top: 11px;
                                font-size: 30px;
                                font-family: Arial, Arial-Bold;
                                font-weight: 700;
                                text-align: left;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .recommend {
                    .recommend-title {
                        padding: 47px 0 50px 0;
                        font-size: 24px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    ul {
                        display: flex;

                        li {
                            margin-right: 50px;
                            display: flex;
                            flex-direction: column;

                            &:nth-last-of-type(1) {
                                margin-right: 0;
                            }

                            a {
                                margin-bottom: 48px;
                                font-size: 18px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #a8a9ad;
                                transition: all 0.5s;

                                &:hover {
                                    color: #2680eb;
                                }

                                &:nth-last-of-type(1) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .consult {
                    margin-top: 41px;

                    img {
                        width: 225px;
                    }

                    p {
                        margin: 27px 0;
                        font-size: 18px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffd500;
                    }

                    a {
                        width: 249px;
                        height: 57px;
                        line-height: 55px;
                        background: #2680eb;
                        font-size: 18px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;
                        transition: all 0.5s;
                        border: 1px solid transparent;

                        &:hover {
                            border: 1px solid #fff;
                            background: none;

                        }
                    }
                }
            }
        }
    }

    .district-6 {
        background: #0b161e;
        padding: 28px 0 40px 0;
        position: relative;

        .district-6-content {
            .w-1500;

            p {
                margin-bottom: 26px;
                font-size: 16px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #a8a9ad;
            }

            ul {
                .flex-space-between;

                li {
                    font-size: 16px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #a8a9ad;

                    a {
                        color: #a8a9ad;
                        text-decoration: underline !important;


                        &:hover {
                            color: #2680eb;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
}

/* 底部结束 */

/* 底部固定定位开始 */
.fixed-streamer {
    .w-1920;
    height: 115px;
    background: url(../images/index-img/footer-fixed-bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 8888;

    transition: all 1s;

    .fixed-streamer-content {
        .w-1500;
        .flex-space-between;
        position: relative;

        height: 100%;

        >img {
            width: 233px;
            position: absolute;
            left: 305px;
            bottom: 0;
        }

        .left {
            p {
                margin-bottom: 19px;
                font-size: 30px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }

            span {
                margin-left: 105px;
                font-size: 30px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffd500;
            }
        }

        .right {
            .fixed-streamer-title {
                width: 100%;
                margin-bottom: 16px;
                .flex-space-between;

                p {
                    font-size: 20px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #fafbfd;

                    span {
                        color: #ffd500;
                    }
                }

                h2 {
                    font-size: 20px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #ffd500;
                }
            }

            form {
                display: flex;
                font-size: 0;

                input {
                    border: none;
                    padding-left: 17px;
                    background: rgba(255, 255, 255, 0.10);
                    font-size: 14px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: rgb(255, 255, 255, 0.5);
                }

                #name {
                    width: 204px;
                    height: 46px;
                    margin-right: 20px;

                }

                #phone {
                    width: 377px;
                    height: 46px;

                }

                button {
                    border: none;
                    margin-left: 20px;
                    width: 199px;
                    height: 46px;
                    background: #2680eb;
                    font-size: 17px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }

    .footer-fixed-guanbi {
        position: absolute;
        right: 2%;
        top: 17px;

        img {
            width: 21px;
        }
    }
}

/* 底部固定定位结束 */

.small-fixed-streamer {
    width: 263px;
    height: 94px;
    background: url(../images/index-img/footer-fixed-bg2.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: -263px;
    bottom: 0;
    z-index: 8888;
    transition: all 1s;

    .tiaozhuan {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h2 {
            font-size: 16px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #ffffff;

            span {
                font-size: 18px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }
        }

        p {
            font-size: 18px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #fafbfd;

            span {
                color: #ffd500;
            }
        }
    }
}