body {
    overflow: hidden;
}

.w-1920 {
    width: 1920px;
    margin: 0 auto;
}

.w-1500 {
    width: 1500px;
    margin: 0 auto;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 14px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 14px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 14px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}







header {

    .top-bar {
        background-color: #f6f6f6;
        height: 50px;

        >div {
            .w-1500;
            .flex-space-between;
            height: 100%;



            .left {
                font-size: 18px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #666666;
            }


            ul {
                .flex-center;

                li {
                    font-size: 18px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: right;
                    color: #666666;

                    &:nth-of-type(2n) {
                        width: 2px;
                        height: 13px;
                        background: #999999;
                        margin: 0 15px;
                    }

                }
            }
        }
    }



    .bottom-bar {
        padding: 34px 0;

        .bottom-bar-content {
            .w-1500;
            .flex-space-between;

            .left {
                .flex-center;

                div {
                    margin-left: 32px;

                    h2 {
                        font-size: 25px;
                        font-family: SourceHanSansCN-Bold;
                        text-align: left;
                        color: #000;
                        font-weight: 700;

                        span {

                            color: #2680eb;
                        }
                    }

                    p {
                        margin-top: 11px;
                        font-size: 19px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #333333;
                    }
                }
            }

            .right {
                p {
                    display: flex;
                    align-items: center;

                    img {
                        width: 23px;
                        margin-right: 8px;
                    }

                    span {
                        font-size: 20px;
                        font-family: SourceHanSansCN-Regular;
                        text-align: left;
                        color: #000000;
                    }
                }

                h2 {
                    margin-top: 10px;
                    font-size: 33px;
                    font-family: SourceHanSansCN-Bold;
                    text-align: right;
                    color: #2680eb;
                    font-weight: 700;
                }
            }
        }

    }
}

/* 头部结束 */


/* 导航栏开始 */
.nav {
    .w-1920;
    background: #000;
    box-shadow: 0px 6px 6px 0px rgba(38, 128, 235, 0.04);
    transition: all 1s;

    >ul {
        .w-1500;
        display: flex;
        justify-content: space-between;


        .activate {
            background: #2680eb !important;

            a {
                color: #ffffff !important;
            }

        }

        >li {
            position: relative;

            >a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 149px;
                height: 83px;
                font-size: 18px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #ffffff;

                i {
                    margin-left: 5px;
                    font-size: 25px;
                    transition: all 1s;
                }
            }

            ul {
                display: none;
                background: #2680eb;
                position: absolute;
                z-index: 100;
                left: 0;
                top: 83px;
                padding-bottom: 20px;

                li {
                    >a {
                        display: inline-block;
                        width: 149px;
                        padding: 25px 0;
                        position: relative;
                        opacity: 0.5;
                        font-size: 16px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;

                        &:hover {
                            opacity: 1;

                            p {
                                display: block;
                            }
                        }

                        p {
                            display: none;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 0;
                            width: 20px;
                            height: 3px;
                            background-color: #ffffff;
                        }
                    }
                }

            }
        }


    }

}

/* 导航栏结束 */
.banner {
    .w-1920;


    .swiper-container-1 {
        width: 100%;
        height: 730px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        opacity: 0.3;
        background: #ffffff;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        width: 38px;
        height: 15px;
        background: #ffffff;
        border-radius: 8px;
        opacity: 1;
    }

    .swiper-button-prev {
        left: 74px;
        width: 66px;
        height: 66px;
        background: rgba(255, 255, 255, 0.20);

        &:hover {
            background: #0063d2;
        }

        img {
            width: 19px;
        }
    }

    .swiper-button-next {
        right: 74px;
        width: 66px;
        height: 66px;
        background: rgba(255, 255, 255, 0.20);

        &:hover {
            background: #2680eb;
        }

        img {
            width: 16px;
        }
    }

    .swiper-button-prev::after {
        display: none;
    }

    .swiper-button-next::after {
        display: none;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 20px !important;
    }

    .banner-streamer {
        .w-1920;
        background: #2680eb;

        .banner-streamer-content {
            height: 107px;
            .w-1500;

            ul {
                .flex-space-between;
                height: 100%;

                li {

                    &:hover a {
                        border: 1px solid #ffffff;
                    }

                    &:hover a p {
                        display: none;
                    }

                    h2 {
                        font-size: 24px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    a {
                        border: 1px solid transparent;
                        position: relative;
                        display: inline-block;
                        padding: 12px 28px;
                        font-size: 18px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;

                        p {

                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            transform: translateX(-50%);
                            width: 21px;
                            height: 2px;
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }

}

/* 设备生产商开始 */
.district-1 {
    .w-1920;
    padding-top: 80px;

    .district-1-content {
        .w-1500;

        .district-1-title {
            .flex-space-between;

            .left {
                h1 {
                    margin-bottom: 27px;
                    font-size: 36px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #0F335E;

                    span {
                        color: #2680eb;
                    }
                }

                p {
                    font-size: 20px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: #9faab8;
                }
            }

            .right {
                a {
                    .flex-center;
                    font-size: 24px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #2680eb;


                    img {
                        margin-left: 10px;
                        width: 14px;
                    }

                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }

        .hot-cake {
            margin-top: 73px;

            ul {
                .flex-space-between;

                li {
                    width: 340px;
                    height: 346px;
                    border: 1px solid #eeeeee;
                    border-radius: 16px 4px 4px 4px;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    &:hover .chanshu {
                        transform: translateY(-346px);
                    }

                    .div-logo {
                        position: absolute;
                        left: -7px;
                        top: -7px;
                        z-index: 3;

                        img {
                            width: 99px;
                        }
                    }

                    i {
                        text-align: center;

                        img {
                            width: 237px;
                        }
                    }

                    >p {
                        padding: 0 20px;
                        font-size: 26px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                        font-weight: 700;
                        text-align: center;
                        color: #0f335e;
                    }

                    .chanshu {
                        transition: all 1s;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: rgba(38, 128, 235, 0.9);
                        left: 0;
                        top: 346px;

                        h2 {
                            font-size: 26px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: center;
                            color: #ffffff;
                        }

                        div {
                            padding: 0 30px;

                            p {
                                line-height: 28px;
                                font-size: 18px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: center;
                                color: #ffffff;
                            }
                        }

                        a {
                            .flex-center;
                            width: 145px;
                            height: 41px;
                            background: rgba(255, 255, 255, 0.10);
                            border: 1px solid #ffffff;
                            font-size: 18px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #ffffff;
                            transition: all 0.5s;

                            &:hover {
                                background-color: #ffffff;
                                color: #2680eb;
                            }
                        }
                    }
                }
            }
        }

        .producer-swiper {
            .w-1500;
            margin-top: 56px;
            background: url(../images/index-img/swiper-1-bg.png) no-repeat;
            background-size: 100% 100%;

            .swiper {
                position: relative;
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                width: 461px;
                height: 336px;
                border: 2px solid transparent;
                transition: all 0.5s;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    >img {
                        width: 274px;
                    }

                    h2 {
                        width: 100%;
                        padding: 0 30px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            display: block;
                            width: 300px;
                            font-size: 24px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: center;
                            color: #0f335e;
                        }

                        img {
                            width: 26px;
                            display: none;
                        }
                    }
                }
            }

            .activate {
                background: #ffffff !important;
                border: 2px solid #eeeeee;

                a {
                    h2 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img {
                            display: block;
                        }

                        span {
                            color: #2680eb;
                        }
                    }
                }
            }



            .swiper-button-prev {
                left: 0;
                width: 41px;
                height: 41px;
                background: #0f335e;

                &:hover {
                    background: #0063d2;
                }

                img {
                    width: 12px;
                }
            }

            .swiper-button-next {
                right: 0;
                width: 41px;
                height: 41px;
                background: #0f335e;

                &:hover {
                    background: #2680eb;
                }

                img {
                    width: 12px;
                }
            }

            .swiper-button-prev::after {
                display: none;
            }

            .swiper-button-next::after {
                display: none;
            }
        }
    }
}

/* 设备生产商结束 */

/* 关于我们开始 */
.district-2 {
    .w-1920;
    height: 850px;
    position: relative;
    font-size: 0;
    margin-top: 115px;
    display: flex;
    background: url(../images/index-img/guanyuwomen-bg.jpg) no-repeat;
    background-size: 100% 100%;

    >img {
        width: 100%;
    }

    .left {
        padding-left: 210px;
        width: 836px;
        height: 100%;
        background-color: rgba(38, 128, 235, 0.7);

        h1 {
            padding: 127px 0 69px 0;
            font-size: 46px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: left;
            color: #ffffff;
        }

        p {
            width: 536px;
            font-size: 18px;
            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
            font-weight: 400;
            text-align: left;
            color: #ffffff;
            line-height: 36px;
        }

        a {
            .flex-center;
            margin-top: 219px;
            width: 196px;
            height: 61px;
            border: 1px solid #ffffff;
            transition: all 0.5s;

            &:hover {
                background-color: #ffffff;

                span {
                    color: #2680eb;
                }

                i {
                    color: #2680eb;
                }
            }

            span {
                font-size: 22px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #fafbfd;
            }

            i {
                font-size: 26px;
                margin-left: 10px;
                color: #fafbfd;
            }
        }
    }

    .right {
        width: 1084px;
        position: relative;

        .About-Us-swiper {
            position: absolute;
            left: 0;
            bottom: 17px;
            padding: 0 70px;
            width: 100%;

            .swiper-container-3 {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .swiper-slide {
                height: 300px;
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: scale(1);
                transition: 300ms;

                img {
                    width: 195px;
                }

            }

            .activate {
                transform: scale(1.2);
            }

            .swiper-button-prev {
                left: 50px;
                width: 52px;
                height: 52px;

                background: rgba(15, 51, 94, .5);

                &:hover {
                    background: #0f335e;
                }

                img {
                    width: 12px;
                }
            }

            .swiper-button-next {
                position: absolute;
                right: 50px;
                width: 52px;
                height: 52px;
                background: rgba(15, 51, 94, .5);

                &:hover {
                    background: #0f335e;
                }

                img {
                    width: 12px;
                }
            }

            .swiper-button-prev::after {
                display: none;
            }

            .swiper-button-next::after {
                display: none;
            }

        }
    }
}

/* 关于我们结束 */


/* 选择我们开始 */
.district-3 {
    .w-1920;
    background: url(../images/index-img/xuanzewomen-bg.jpg) no-repeat;
    background-size: 100% 100%;

    .choose-us {
        .flex-space-between;
        .w-1500;
        height: 482px;


        .left {

            h1 {
                font-size: 38px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #0f335e;
            }

            p {
                margin: 30px 0 80px 0;
                opacity: 0.6;
                font-size: 26px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #0f335e;
            }

            a {
                .flex-center;
                width: 196px;
                height: 61px;
                border: 1px solid #2680eb;
                transition: all 0.5s;

                &:hover {
                    background-color: #2680eb;

                    span {
                        color: #ffffff;
                    }

                    i {
                        color: #ffffff;
                    }
                }

                span {
                    font-size: 22px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: #2680eb;
                }

                i {
                    font-size: 26px;
                    margin-left: 10px;
                    color: #2680eb;
                }
            }
        }

        .right {
            .video-img {
                position: relative;
                cursor: pointer;
                width: 612px;
                height: 354px;
                background: url(../images/index-img/shiping-bg.png) no-repeat;
                background-size: 100% 100%;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 39px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }

            // 弹出视频部分开始
            .video-box {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                z-index: 9999;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;

                .jsmodern-video {
                    width: 100% !important;
                    height: 100% !important;
                }

                #video {
                    height: 730px;
                    width: 1300px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;

                    .guanbi {
                        cursor: pointer;
                        width: 64px;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        z-index: 1000;
                        transition: all 0.5s;
                        transform: scale(0.8);

                        &:hover {
                            transform: scale(1);
                        }
                    }
                }

                #video-modal video {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }

                .VideoBtn {
                    img {
                        width: 70px;
                    }

                    position: absolute;
                    left: 50%;
                    top: 50%;
                    display: block;
                    width: 70px;
                    height: 70px;
                    margin-left: -35px;
                    margin-top: -35px;
                    cursor: pointer;
                    z-index: 10;
                }
            }
        }
    }
}

/* 选择我们结束 */



/* 资讯部分开始 */
.district-4 {
    .w-1920;
    padding-top: 70px;

    .information {
        .w-1500;

        .information-title {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(159, 170, 184, 0.2);

            .left {
                position: relative;

                ul {
                    display: flex;

                    li {
                        &:nth-last-of-type(1) {
                            margin-right: 0;
                        }

                        margin-right: 83px;
                        padding-bottom: 28px;
                        font-size: 30px;
                        font-family: Source Han Sans CN,
                        Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #5e6e84;

                    }

                    .activate {
                        font-size: 36px;
                        font-weight: 700;
                        color: #0f335e;
                    }
                }

                i {
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 144px;

                    img {
                        width: 100%;
                    }
                }

            }

            .right {
                a {
                    .flex-center;
                    font-size: 24px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #2680eb;

                    img {
                        margin-left: 10px;
                        width: 14px;
                    }

                    &:hover {
                        font-weight: 700;

                    }
                }
            }
        }

        .information-content {
            margin-top: 56px;

            .information-box {
                .flex-space-between;

                .left {
                    width: 524px;
                    position: relative;
                    overflow: hidden;

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    img {
                        width: 524px;
                        transition: all 1s;
                    }

                    a {
                        .flex-space-between;
                        background: #2680eb;
                        padding: 22px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;

                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;

                            display: inline-block;
                            width: 400px;
                            font-size: 20px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #ffffff;
                            line-height: 26px;
                        }

                        i {
                            color: #ffffff;
                            font-size: 20px;
                        }
                    }
                }

                .right {
                    flex: 1;
                    display: flex;


                    ul {
                        display: flex;
                        justify-content: flex-end;
                        flex-wrap: wrap;

                        li {
                            a {
                                width: 475px;
                                padding: 22px 27px;
                                transition: all 0.5s;

                                &:hover {
                                    background: #e4e4e4;

                                    h2 {
                                        font-weight: 700;

                                    }

                                    span {
                                        color: #2680eb;
                                    }
                                }

                                h2 {
                                    font-size: 24px;
                                    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                                    font-weight: 500;
                                    text-align: left;
                                    color: #0f335e;
                                    transition: all 0.5s;
                                }

                                p {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;


                                    margin: 20px 0;
                                    font-size: 20px;
                                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                    font-weight: 400;
                                    text-align: left;
                                    color: #9faab8;
                                    line-height: 34px;
                                }

                                span {
                                    font-size: 24px;
                                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                                    font-weight: 700;
                                    text-align: left;
                                    color: #0f335e;
                                    transition: all 0.5s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 资讯部分结束 */

/* 底部开始 */
footer {
    .w-1920;
    margin-top: 130px;
    margin-bottom: 115px;
    transition: all 0.5s;

    .district-5 {
        background: #262a32;

        .district-5-content {
            .w-1500;

            .top {
                ul {
                    border-bottom: 1px solid #535f6d;
                    .flex-space-between;
                    padding: 54px 0;

                    li {
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: 39px;
                        }

                        span {
                            font-size: 24px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                            font-weight: 500;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            width: 279px;
                            margin-top: 19px;
                            font-size: 18px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #9faab8;
                            line-height: 28px;
                        }
                    }
                }
            }

            .bottom {
                padding-bottom: 50px;
                .flex-space-between;

                .contact-way {
                    .contact-way-title {
                        padding: 47px 0 50px 0;
                        font-size: 24px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    .contact-way-content {
                        display: flex;
                        align-items: center;

                        div {
                            margin-left: 23px;

                            span {
                                font-size: 18px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #9faab8;
                            }

                            p {
                                margin-top: 16px;
                                font-size: 18px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #ffffff;
                            }

                            h2 {
                                margin-top: 11px;
                                font-size: 30px;
                                font-family: Arial, Arial-Bold;
                                font-weight: 700;
                                text-align: left;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .recommend {
                    .recommend-title {
                        padding: 47px 0 50px 0;
                        font-size: 24px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    ul {
                        display: flex;

                        li {
                            margin-right: 50px;
                            display: flex;
                            flex-direction: column;

                            &:nth-last-of-type(1) {
                                margin-right: 0;
                            }

                            a {
                                margin-bottom: 48px;
                                font-size: 18px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #a8a9ad;
                                transition: all 0.5s;

                                &:hover {
                                    color: #2680eb;
                                }

                                &:nth-last-of-type(1) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .consult {
                    margin-top: 41px;

                    img {
                        width: 225px;
                    }

                    p {
                        margin: 27px 0;
                        font-size: 18px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffd500;
                    }

                    a {
                        width: 249px;
                        height: 57px;
                        line-height: 55px;
                        background: #2680eb;
                        font-size: 18px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;
                        transition: all 0.5s;
                        border: 1px solid transparent;

                        &:hover {
                            border: 1px solid #fff;
                            background: none;

                        }
                    }
                }
            }
        }
    }

    .district-6 {
        background: #0b161e;
        padding: 28px 0 40px 0;
        position: relative;

        .district-6-content {
            .w-1500;

            p {
                margin-bottom: 26px;
                font-size: 16px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #a8a9ad;
            }

            ul {
                .flex-space-between;

                li {
                    font-size: 16px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #a8a9ad;

                    a {
                        color: #a8a9ad;
                        text-decoration: underline !important;


                        &:hover {
                            color: #2680eb;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
}

/* 底部结束 */

/* 底部固定定位开始 */
.fixed-streamer {
    .w-1920;
    height: 115px;
    background: url(../images/index-img/footer-fixed-bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 8888;

    transition: all 1s;

    .fixed-streamer-content {
        .w-1500;
        .flex-space-between;
        position: relative;

        height: 100%;

        >img {
            width: 233px;
            position: absolute;
            left: 305px;
            bottom: 0;
        }

        .left {
            p {
                margin-bottom: 19px;
                font-size: 30px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }

            span {
                margin-left: 105px;
                font-size: 30px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffd500;
            }
        }

        .right {
            .fixed-streamer-title {
                width: 100%;
                margin-bottom: 16px;
                .flex-space-between;

                p {
                    font-size: 20px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #fafbfd;

                    span {
                        color: #ffd500;
                    }
                }

                h2 {
                    font-size: 20px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #ffd500;
                }
            }

            form {
                display: flex;
                font-size: 0;

                input {
                    outline: none;
                    border: none;
                    padding-left: 17px;
                    background: rgba(255, 255, 255, 0.10);
                    font-size: 14px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: rgb(255, 255, 255, 0.5);
                }

                #name {
                    width: 204px;
                    height: 46px;
                    margin-right: 20px;

                }

                #phone {
                    width: 377px;
                    height: 46px;

                }

                button {
                    border: none;
                    margin-left: 20px;
                    width: 199px;
                    height: 46px;
                    background: #2680eb;
                    font-size: 17px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }

    .footer-fixed-guanbi {
        position: absolute;
        right: 2%;
        top: 17px;

        img {
            cursor: pointer;
            width: 21px;
        }
    }
}

/* 底部固定定位结束 */

.small-fixed-streamer {
    width: 263px;
    height: 94px;
    background: url(../images/index-img/footer-fixed-bg2.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: -263px;
    bottom: 0;
    z-index: 8888;
    transition: all 1s;

    .tiaozhuan {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h2 {
            font-size: 16px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #ffffff;

            span {
                font-size: 18px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }
        }

        p {
            font-size: 18px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #fafbfd;

            span {
                color: #ffd500;
            }
        }
    }
}