body {
    overflow: hidden;
}

.w-1920 {
    width: 1920px;
    margin: 0 auto;
}

.w-1500 {
    width: 1500px;
    margin: 0 auto;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 13.9968px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 13.9968px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 13.9968px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 13.9968px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}







header {

    .top-bar {
        background-color: #f6f6f6;
        height: 49.9968px;

        >div {
            .w-1500;
            .flex-space-between;
            height: 100%;



            .left {
                font-size: 18.0096px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #666666;
            }


            ul {
                .flex-center;

                li {
                    font-size: 18.0096px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: right;
                    color: #666666;

                    &:nth-of-type(2n) {
                        width: 1.9968px;
                        height: 12.9984px;
                        background: #999999;
                        margin: 0 14.9952px;
                    }

                }
            }
        }
    }



    .bottom-bar {
        padding: 34.0032px 0;

        .bottom-bar-content {
            .w-1500;
            .flex-space-between;

            .left {
                .flex-center;

                div {
                    margin-left: 32.0064px;

                    h2 {
                        font-size: 24.9984px;
                        font-family: SourceHanSansCN-Bold;
                        text-align: left;
                        color: #000;
                        font-weight: 700;

                        span {

                            color: #2680eb;
                        }
                    }

                    p {
                        margin-top: 11.0016px;
                        font-size: 19.008px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #333333;
                    }
                }
            }

            .right {
                p {
                    display: flex;
                    align-items: center;

                    img {
                        width: 23.0016px;
                        margin-right: 8.0064px;
                    }

                    span {
                        font-size: 20.0064px;
                        font-family: SourceHanSansCN-Regular;
                        text-align: left;
                        color: #000000;
                    }
                }

                h2 {
                    margin-top: 10.0032px;
                    font-size: 33.0048px;
                    font-family: SourceHanSansCN-Bold;
                    text-align: right;
                    color: #2680eb;
                    font-weight: 700;
                }
            }
        }

    }
}

/* 头部结束 */


/* 导航栏开始 */
.nav {
    .w-1920;
    background: #000;
    box-shadow: 0px 6.0096px 6.0096px 0px rgba(38, 128, 235, 0.04);
    transition: all 1s;

    >ul {
        .w-1500;
        display: flex;
        justify-content: space-between;


        .activate {
            background: #2680eb !important;

            a {
                color: #ffffff !important;
            }

        }

        >li {
            position: relative;

            >a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 148.992px;
                height: 83.0016px;
                font-size: 18.0096px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #ffffff;

                i {
                    margin-left: 4.992px;
                    font-size: 24.9984px;
                    transition: all 1s;
                }
            }

            ul {
                display: none;
                background: #2680eb;
                position: absolute;
                z-index: 100;
                left: 0;
                top: 83.0016px;
                padding-bottom: 20.0064px;

                li {
                    >a {
                        display: inline-block;
                        width: 148.992px;
                        padding: 24.9984px 0;
                        position: relative;
                        opacity: 0.5;
                        font-size: 15.9936px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;

                        &:hover {
                            opacity: 1;

                            p {
                                display: block;
                            }
                        }

                        p {
                            display: none;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 0;
                            width: 20.0064px;
                            height: 2.9952px;
                            background-color: #ffffff;
                        }
                    }
                }

            }
        }


    }

}

/* 导航栏结束 */
.banner {
    .w-1920;


    .swiper-container-1 {
        width: 100%;
        height: 730.0032px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 18.0096px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .swiper-pagination-bullet {
        width: 14.9952px;
        height: 14.9952px;
        opacity: 0.3;
        background: #ffffff;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        width: 37.9968px;
        height: 14.9952px;
        background: #ffffff;
        border-radius: 8.0064px;
        opacity: 1;
    }

    .swiper-button-prev {
        left: 73.9968px;
        width: 66.0096px;
        height: 66.0096px;
        background: rgba(255, 255, 255, 0.20);

        &:hover {
            background: #0063d2;
        }

        img {
            width: 19.008px;
        }
    }

    .swiper-button-next {
        right: 73.9968px;
        width: 66.0096px;
        height: 66.0096px;
        background: rgba(255, 255, 255, 0.20);

        &:hover {
            background: #2680eb;
        }

        img {
            width: 15.9936px;
        }
    }

    .swiper-button-prev::after {
        display: none;
    }

    .swiper-button-next::after {
        display: none;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 20.0064px !important;
    }

    .banner-streamer {
        .w-1920;
        background: #2680eb;

        .banner-streamer-content {
            height: 107.0016px;
            .w-1500;

            ul {
                .flex-space-between;
                height: 100%;

                li {

                    &:hover a {
                        border: .9984px solid #ffffff;
                    }

                    &:hover a p {
                        display: none;
                    }

                    h2 {
                        font-size: 24px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    a {
                        border: .9984px solid transparent;
                        position: relative;
                        display: inline-block;
                        padding: 12px 27.9936px;
                        font-size: 18.0096px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;

                        p {

                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            transform: translateX(-50%);
                            width: 21.0048px;
                            height: 1.9968px;
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }

}

/* 设备生产商开始 */
.district-1 {
    .w-1920;
    padding-top: 80.0064px;

    .district-1-content {
        .w-1500;

        .district-1-title {
            .flex-space-between;

            .left {
                h1 {
                    margin-bottom: 26.9952px;
                    font-size: 36px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #0F335E;

                    span {
                        color: #2680eb;
                    }
                }

                p {
                    font-size: 20.0064px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: #9faab8;
                }
            }

            .right {
                a {
                    .flex-center;
                    font-size: 24px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #2680eb;


                    img {
                        margin-left: 10.0032px;
                        width: 13.9968px;
                    }

                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }

        .hot-cake {
            margin-top: 72.9984px;

            ul {
                .flex-space-between;

                li {
                    width: 339.9936px;
                    height: 346.0032px;
                    border: .9984px solid #eeeeee;
                    border-radius: 15.9936px 3.9936px 3.9936px 3.9936px;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    &:hover .chanshu {
                        transform: translateY(-346.0032px);
                    }

                    .div-logo {
                        position: absolute;
                        left: -7.008px;
                        top: -7.008px;
                        z-index: 3;

                        img {
                            width: 98.9952px;
                        }
                    }

                    i {
                        text-align: center;

                        img {
                            width: 237.0048px;
                        }
                    }

                    >p {
                        padding: 0 20.0064px;
                        font-size: 25.9968px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                        font-weight: 700;
                        text-align: center;
                        color: #0f335e;
                    }

                    .chanshu {
                        transition: all 1s;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: rgba(38, 128, 235, 0.9);
                        left: 0;
                        top: 346.0032px;

                        h2 {
                            font-size: 25.9968px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: center;
                            color: #ffffff;
                        }

                        div {
                            padding: 0 30.0096px;

                            p {
                                line-height: 27.9936px;
                                font-size: 18.0096px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: center;
                                color: #ffffff;
                            }
                        }

                        a {
                            .flex-center;
                            width: 144.9984px;
                            height: 40.992px;
                            background: rgba(255, 255, 255, 0.10);
                            border: .9984px solid #ffffff;
                            font-size: 18.0096px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #ffffff;
                            transition: all 0.5s;

                            &:hover {
                                background-color: #ffffff;
                                color: #2680eb;
                            }
                        }
                    }
                }
            }
        }

        .producer-swiper {
            .w-1500;
            margin-top: 56.0064px;
            background: url(../images/index-img/swiper-1-bg.png) no-repeat;
            background-size: 100% 100%;

            .swiper {
                position: relative;
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                width: 460.992px;
                height: 336px;
                border: 1.9968px solid transparent;
                transition: all 0.5s;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    >img {
                        width: 274.0032px;
                    }

                    h2 {
                        width: 100%;
                        padding: 0 30.0096px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            display: block;
                            width: 300px;
                            font-size: 24px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: center;
                            color: #0f335e;
                        }

                        img {
                            width: 25.9968px;
                            display: none;
                        }
                    }
                }
            }

            .activate {
                background: #ffffff !important;
                border: 1.9968px solid #eeeeee;

                a {
                    h2 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img {
                            display: block;
                        }

                        span {
                            color: #2680eb;
                        }
                    }
                }
            }



            .swiper-button-prev {
                left: 0;
                width: 40.992px;
                height: 40.992px;
                background: #0f335e;

                &:hover {
                    background: #0063d2;
                }

                img {
                    width: 12px;
                }
            }

            .swiper-button-next {
                right: 0;
                width: 40.992px;
                height: 40.992px;
                background: #0f335e;

                &:hover {
                    background: #2680eb;
                }

                img {
                    width: 12px;
                }
            }

            .swiper-button-prev::after {
                display: none;
            }

            .swiper-button-next::after {
                display: none;
            }
        }
    }
}

/* 设备生产商结束 */

/* 关于我们开始 */
.district-2 {
    .w-1920;
    height: 850.0032px;
    position: relative;
    font-size: 0;
    margin-top: 115.008px;
    display: flex;
    background: url(../images/index-img/guanyuwomen-bg.jpg) no-repeat;
    background-size: 100% 100%;

    >img {
        width: 100%;
    }

    .left {
        padding-left: 210.0096px;
        width: 836.0064px;
        height: 100%;
        background-color: rgba(38, 128, 235, 0.7);

        h1 {
            padding: 127.008px 0 69.0048px 0;
            font-size: 46.0032px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: left;
            color: #ffffff;
        }

        p {
            width: 536.0064px;
            font-size: 18.0096px;
            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
            font-weight: 400;
            text-align: left;
            color: #ffffff;
            line-height: 36px;
        }

        a {
            .flex-center;
            margin-top: 218.9952px;
            width: 195.9936px;
            height: 60.9984px;
            border: .9984px solid #ffffff;
            transition: all 0.5s;

            &:hover {
                background-color: #ffffff;

                span {
                    color: #2680eb;
                }

                i {
                    color: #2680eb;
                }
            }

            span {
                font-size: 22.0032px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #fafbfd;
            }

            i {
                font-size: 25.9968px;
                margin-left: 10.0032px;
                color: #fafbfd;
            }
        }
    }

    .right {
        width: 1083.9936px;
        position: relative;

        .About-Us-swiper {
            position: absolute;
            left: 0;
            bottom: 16.992px;
            padding: 0 70.0032px;
            width: 100%;

            .swiper-container-3 {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .swiper-slide {
                height: 300px;
                text-align: center;
                font-size: 18.0096px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: scale(1);
                transition: 300ms;

                img {
                    width: 194.9952px;
                }

            }

            .activate {
                transform: scale(1.2);
            }

            .swiper-button-prev {
                left: 49.9968px;
                width: 51.9936px;
                height: 51.9936px;

                background: rgba(15, 51, 94, .5);

                &:hover {
                    background: #0f335e;
                }

                img {
                    width: 12px;
                }
            }

            .swiper-button-next {
                position: absolute;
                right: 49.9968px;
                width: 51.9936px;
                height: 51.9936px;
                background: rgba(15, 51, 94, .5);

                &:hover {
                    background: #0f335e;
                }

                img {
                    width: 12px;
                }
            }

            .swiper-button-prev::after {
                display: none;
            }

            .swiper-button-next::after {
                display: none;
            }

        }
    }
}

/* 关于我们结束 */


/* 选择我们开始 */
.district-3 {
    .w-1920;
    background: url(../images/index-img/xuanzewomen-bg.jpg) no-repeat;
    background-size: 100% 100%;

    .choose-us {
        .flex-space-between;
        .w-1500;
        height: 481.9968px;


        .left {

            h1 {
                font-size: 37.9968px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #0f335e;
            }

            p {
                margin: 30.0096px 0 80.0064px 0;
                opacity: 0.6;
                font-size: 25.9968px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #0f335e;
            }

            a {
                .flex-center;
                width: 195.9936px;
                height: 60.9984px;
                border: .9984px solid #2680eb;
                transition: all 0.5s;

                &:hover {
                    background-color: #2680eb;

                    span {
                        color: #ffffff;
                    }

                    i {
                        color: #ffffff;
                    }
                }

                span {
                    font-size: 22.0032px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: #2680eb;
                }

                i {
                    font-size: 25.9968px;
                    margin-left: 10.0032px;
                    color: #2680eb;
                }
            }
        }

        .right {
            .video-img {
                position: relative;
                cursor: pointer;
                width: 612px;
                height: 354.0096px;
                background: url(../images/index-img/shiping-bg.png) no-repeat;
                background-size: 100% 100%;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 38.9952px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }

            // 弹出视频部分开始
            .video-box {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                z-index: 9999;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;

                .jsmodern-video {
                    width: 100% !important;
                    height: 100% !important;
                }

                #video {
                    height: 730.0032px;
                    width: 1299.9936px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;

                    .guanbi {
                        cursor: pointer;
                        width: 63.9936px;
                        position: absolute;
                        right: 10.0032px;
                        top: 10.0032px;
                        z-index: 1000;
                        transition: all 0.5s;
                        transform: scale(0.8);

                        &:hover {
                            transform: scale(1);
                        }
                    }
                }

                #video-modal video {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }

                .VideoBtn {
                    img {
                        width: 70.0032px;
                    }

                    position: absolute;
                    left: 50%;
                    top: 50%;
                    display: block;
                    width: 70.0032px;
                    height: 70.0032px;
                    margin-left: -35.0016px;
                    margin-top: -35.0016px;
                    cursor: pointer;
                    z-index: 10;
                }
            }
        }
    }
}

/* 选择我们结束 */



/* 资讯部分开始 */
.district-4 {
    .w-1920;
    padding-top: 70.0032px;

    .information {
        .w-1500;

        .information-title {
            display: flex;
            justify-content: space-between;
            border-bottom: .9984px solid rgba(159, 170, 184, 0.2);

            .left {
                position: relative;

                ul {
                    display: flex;

                    li {
                        &:nth-last-of-type(1) {
                            margin-right: 0;
                        }

                        margin-right: 83.0016px;
                        padding-bottom: 27.9936px;
                        font-size: 30.0096px;
                        font-family: Source Han Sans CN,
                        Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #5e6e84;

                    }

                    .activate {
                        font-size: 36px;
                        font-weight: 700;
                        color: #0f335e;
                    }
                }

                i {
                    position: absolute;
                    left: 0;
                    bottom: -1.9968px;
                    width: 144px;

                    img {
                        width: 100%;
                    }
                }

            }

            .right {
                a {
                    .flex-center;
                    font-size: 24px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #2680eb;

                    img {
                        margin-left: 10.0032px;
                        width: 13.9968px;
                    }

                    &:hover {
                        font-weight: 700;

                    }
                }
            }
        }

        .information-content {
            margin-top: 56.0064px;

            .information-box {
                .flex-space-between;

                .left {
                    width: 524.0064px;
                    position: relative;
                    overflow: hidden;

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    img {
                        width: 524.0064px;
                        transition: all 1s;
                    }

                    a {
                        .flex-space-between;
                        background: #2680eb;
                        padding: 22.0032px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;

                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;

                            display: inline-block;
                            width: 399.9936px;
                            font-size: 20.0064px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #ffffff;
                            line-height: 25.9968px;
                        }

                        i {
                            color: #ffffff;
                            font-size: 20.0064px;
                        }
                    }
                }

                .right {
                    flex: 1;
                    display: flex;


                    ul {
                        display: flex;
                        justify-content: flex-end;
                        flex-wrap: wrap;

                        li {
                            a {
                                width: 475.008px;
                                padding: 22.0032px 26.9952px;
                                transition: all 0.5s;

                                &:hover {
                                    background: #e4e4e4;

                                    h2 {
                                        font-weight: 700;

                                    }

                                    span {
                                        color: #2680eb;
                                    }
                                }

                                h2 {
                                    font-size: 24px;
                                    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                                    font-weight: 500;
                                    text-align: left;
                                    color: #0f335e;
                                    transition: all 0.5s;
                                }

                                p {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;


                                    margin: 20.0064px 0;
                                    font-size: 20.0064px;
                                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                    font-weight: 400;
                                    text-align: left;
                                    color: #9faab8;
                                    line-height: 34.0032px;
                                }

                                span {
                                    font-size: 24px;
                                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                                    font-weight: 700;
                                    text-align: left;
                                    color: #0f335e;
                                    transition: all 0.5s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 资讯部分结束 */

/* 底部开始 */
footer {
    .w-1920;
    margin-top: 130.0032px;
    margin-bottom: 115.008px;
    transition: all 0.5s;

    .district-5 {
        background: #262a32;

        .district-5-content {
            .w-1500;

            .top {
                ul {
                    border-bottom: .9984px solid #535f6d;
                    .flex-space-between;
                    padding: 54.0096px 0;

                    li {
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: 38.9952px;
                        }

                        span {
                            font-size: 24px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                            font-weight: 500;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            width: 278.9952px;
                            margin-top: 19.008px;
                            font-size: 18.0096px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #9faab8;
                            line-height: 27.9936px;
                        }
                    }
                }
            }

            .bottom {
                padding-bottom: 49.9968px;
                .flex-space-between;

                .contact-way {
                    .contact-way-title {
                        padding: 47.0016px 0 49.9968px 0;
                        font-size: 24px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    .contact-way-content {
                        display: flex;
                        align-items: center;

                        div {
                            margin-left: 23.0016px;

                            span {
                                font-size: 18.0096px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #9faab8;
                            }

                            p {
                                margin-top: 15.9936px;
                                font-size: 18.0096px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #ffffff;
                            }

                            h2 {
                                margin-top: 11.0016px;
                                font-size: 30.0096px;
                                font-family: Arial, Arial-Bold;
                                font-weight: 700;
                                text-align: left;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .recommend {
                    .recommend-title {
                        padding: 47.0016px 0 49.9968px 0;
                        font-size: 24px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    ul {
                        display: flex;

                        li {
                            margin-right: 49.9968px;
                            display: flex;
                            flex-direction: column;

                            &:nth-last-of-type(1) {
                                margin-right: 0;
                            }

                            a {
                                margin-bottom: 48px;
                                font-size: 18.0096px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #a8a9ad;
                                transition: all 0.5s;

                                &:hover {
                                    color: #2680eb;
                                }

                                &:nth-last-of-type(1) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .consult {
                    margin-top: 40.992px;

                    img {
                        width: 225.0048px;
                    }

                    p {
                        margin: 26.9952px 0;
                        font-size: 18.0096px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffd500;
                    }

                    a {
                        width: 249.0048px;
                        height: 57.0048px;
                        line-height: 55.008px;
                        background: #2680eb;
                        font-size: 18.0096px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;
                        transition: all 0.5s;
                        border: .9984px solid transparent;

                        &:hover {
                            border: .9984px solid #fff;
                            background: none;

                        }
                    }
                }
            }
        }
    }

    .district-6 {
        background: #0b161e;
        padding: 27.9936px 0 39.9936px 0;
        position: relative;

        .district-6-content {
            .w-1500;

            p {
                margin-bottom: 25.9968px;
                font-size: 15.9936px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #a8a9ad;
            }

            ul {
                .flex-space-between;

                li {
                    font-size: 15.9936px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #a8a9ad;

                    a {
                        color: #a8a9ad;
                        text-decoration: underline !important;


                        &:hover {
                            color: #2680eb;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
}

/* 底部结束 */

/* 底部固定定位开始 */
.fixed-streamer {
    .w-1920;
    height: 115.008px;
    background: url(../images/index-img/footer-fixed-bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 8888;

    transition: all 1s;

    .fixed-streamer-content {
        .w-1500;
        .flex-space-between;
        position: relative;

        height: 100%;

        >img {
            width: 232.992px;
            position: absolute;
            left: 304.992px;
            bottom: 0;
        }

        .left {
            p {
                margin-bottom: 19.008px;
                font-size: 30.0096px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }

            span {
                margin-left: 105.0048px;
                font-size: 30.0096px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffd500;
            }
        }

        .right {
            .fixed-streamer-title {
                width: 100%;
                margin-bottom: 15.9936px;
                .flex-space-between;

                p {
                    font-size: 20.0064px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #fafbfd;

                    span {
                        color: #ffd500;
                    }
                }

                h2 {
                    font-size: 20.0064px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #ffd500;
                }
            }

            form {
                display: flex;
                font-size: 0;

                input {
                    outline: none;
                    border: none;
                    padding-left: 16.992px;
                    background: rgba(255, 255, 255, 0.10);
                    font-size: 13.9968px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: rgb(255, 255, 255, 0.5);
                }

                #name {
                    width: 204px;
                    height: 46.0032px;
                    margin-right: 20.0064px;

                }

                #phone {
                    width: 376.992px;
                    height: 46.0032px;

                }

                button {
                    border: none;
                    margin-left: 20.0064px;
                    width: 199.008px;
                    height: 46.0032px;
                    background: #2680eb;
                    font-size: 16.992px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }

    .footer-fixed-guanbi {
        position: absolute;
        right: 2%;
        top: 16.992px;

        img {
            cursor: pointer;
            width: 21.0048px;
        }
    }
}

/* 底部固定定位结束 */

.small-fixed-streamer {
    width: 263.0016px;
    height: 94.0032px;
    background: url(../images/index-img/footer-fixed-bg2.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: -263.0016px;
    bottom: 0;
    z-index: 8888;
    transition: all 1s;

    .tiaozhuan {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h2 {
            font-size: 15.9936px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #ffffff;

            span {
                font-size: 18.0096px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }
        }

        p {
            font-size: 18.0096px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #fafbfd;

            span {
                color: #ffd500;
            }
        }
    }
}