body {
    overflow: hidden;
}

.w-1920 {
    width: 19.2rem;
    margin: 0 auto;
}

.w-1500 {
    width: 15rem;
    margin: 0 auto;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}



header {

    .top-bar {
        background-color: #f6f6f6;
        height: .5rem;

        >div {
            .w-1500;
            .flex-space-between;
            height: 100%;



            .left {
                font-size: .1801rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #666666;
            }


            ul {
                .flex-center;

                li {
                    font-size: .1801rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: right;
                    color: #666666;

                    &:nth-of-type(2n) {
                        width: .02rem;
                        height: .13rem;
                        background: #999999;
                        margin: 0 .15rem;
                    }

                }
            }
        }
    }



    .bottom-bar {
        padding: .34rem 0;

        .bottom-bar-content {
            .w-1500;
            .flex-space-between;

            .left {
                .flex-center;

                div {
                    margin-left: .3201rem;

                    h2 {
                        font-size: .25rem;
                        font-family: SourceHanSansCN-Bold;
                        text-align: left;
                        color: #000;
                        font-weight: 700;

                        span {

                            color: #2680eb;
                        }
                    }

                    p {
                        margin-top: .11rem;
                        font-size: .1901rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #333333;
                    }
                }
            }

            .right {
                p {
                    display: flex;
                    align-items: center;

                    img {
                        width: .23rem;
                        margin-right: .0801rem;
                    }

                    span {
                        font-size: .2001rem;
                        font-family: SourceHanSansCN-Regular;
                        text-align: left;
                        color: #000000;
                    }
                }

                h2 {
                    margin-top: .1rem;
                    font-size: .33rem;
                    font-family: SourceHanSansCN-Bold;
                    text-align: right;
                    color: #2680eb;
                    font-weight: 700;
                }
            }
        }

    }
}

/* 头部结束 */


/* 导航栏开始 */
.nav {
    .w-1920;
    background: #000;
    box-shadow: 0rem .0601rem .0601rem 0rem rgba(38, 128, 235, 0.04);
    transition: all 1s;

    >ul {
        .w-1500;
        display: flex;
        justify-content: space-between;


        .activate {
            background: #2680eb !important;

            a {
                color: #ffffff !important;
            }

        }

        >li {
            position: relative;

            >a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.4899rem;
                height: .83rem;
                font-size: .1801rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #ffffff;

                i {
                    margin-left: .0499rem;
                    font-size: .25rem;
                    transition: all 1s;
                }
            }

            ul {
                display: none;
                background: #2680eb;
                position: absolute;
                z-index: 100;
                left: 0;
                top: .83rem;
                padding-bottom: .2001rem;

                li {
                    >a {
                        display: inline-block;
                        width: 1.4899rem;
                        padding: .25rem 0;
                        position: relative;
                        opacity: 0.5;
                        font-size: .1599rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;

                        &:hover {
                            opacity: 1;

                            p {
                                display: block;
                            }
                        }

                        p {
                            display: none;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 0;
                            width: .2001rem;
                            height: .03rem;
                            background-color: #ffffff;
                        }
                    }
                }

            }
        }


    }

}

/* 导航栏结束 */

/* banner开始 */
.banner {
    .w-1920;

    img {
        width: 100%;
    }
}

/* banner结束 */


/* 主要产品开始 */
.district-1 {
    .w-1920;
    padding-bottom: .8899rem;

    .product {
        .w-1500;

        .product-title {
            .flex-center;
            padding: .63rem 0;

            h1 {
                margin: 0 .3999rem;
                font-size: .36rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #0f335e;
            }

            p {
                width: .6801rem;
                height: .0399rem;
                background-color: #0f335e;
                border-radius: .02rem;
            }
        }

        .product-content {
            .flex-space-between;

            .left {
                ul {
                    li {
                        width: 7.3801rem;
                        font-size: .22rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                        font-weight: 400;
                        text-align: left;
                        line-height: .4201rem;
                        color: #5E6E84;

                        span {
                            font-weight: 700;
                            color: #0f335e;
                        }
                    }
                }
            }

            .right {
                width: 7.5001rem;
                height: 5.27rem;
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    transition: all 1s;
                }
            }
        }
    }
}

/* 主要产品结束 */


/* 客户共同选择开始 */
.district-2 {
    background: #fafbfd;
    padding: .75rem 0 .5501rem 0;

    .select {
        .w-1500;

        .select-title {

            div {
                .flex-center;

                h1 {
                    margin: 0 .27rem;
                    font-size: .36rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: center;
                    color: #0f335e;

                    span {

                        color: #2680eb;
                    }
                }

                p {
                    width: .6801rem;
                    height: .0399rem;
                    background-color: #0f335e;
                    border-radius: .02rem;
                }
            }

            h2 {
                padding: .3201rem 0 .69rem;
                font-size: .22rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #5e6e84;
            }
        }

        ul {
            display: flex;

            li {
                flex: 1;

                >div {
                    padding-top: .45rem;
                    padding-left: .2899rem;
                    width: 100%;
                    height: 3.09rem;
                    position: relative;
                    background: #ffffff;
                    transition: all 1s;

                    p {
                        font-size: .36rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                        font-weight: 700;
                        text-align: left;
                        color: #0f335e;
                        line-height: .6399rem;
                        transition: all 1s;
                    }

                    span {
                        margin-top: .6rem;
                        display: block;
                        width: .8799rem;
                        height: .0701rem;
                        background-color: #2680eb;
                        border-radius: .03rem;
                        transition: all 1s;
                    }

                    div {
                        width: 0;
                        height: 0;
                        border: .25rem solid transparent;
                        border-top: .2001rem solid #ffffff;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -0.3999rem;
                        z-index: 2;
                        transition: all 1s;
                    }


                }

                i {
                    width: 100%;
                    height: 3.09rem;
                    overflow: hidden;

                    img {
                        width: 100%;
                        transition: all 1s;
                    }
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }

                    >div {
                        background: #2680eb;

                        p {
                            color: #ffffff;
                        }

                        span {
                            background: #ffffff;
                        }

                        div {
                            border-top-color: #2680eb;
                        }
                    }
                }
            }



            li:nth-of-type(2) {
                >div {
                    padding-left: .3999rem;

                    div {
                        width: 0;
                        height: 0;
                        border: .25rem solid transparent;
                        border-bottom: .2001rem solid #ffffff;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -0.3999rem;
                        z-index: 2;
                        transition: all 1s;
                    }
                }

                &:hover {
                    >div {
                        div {
                            border-bottom-color:
                                #2680eb;
                        }
                    }
                }
            }

            li:nth-of-type(3) {
                >div {
                    padding-left: .3999rem;
                }
            }


        }
    }
}

/* 客户共同选择结束 */

/* 服务项目开始 */
.district-3 {
    padding: .7599rem 0 .7rem 0;

    .project {
        .w-1500;

        .project-title {
            div {
                .flex-center;

                h1 {
                    margin: 0 .27rem;
                    font-size: .36rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: center;
                    color: #0f335e;

                    span {

                        color: #2680eb;
                    }
                }

                p {
                    width: .6801rem;
                    height: .0399rem;
                    background-color: #0f335e;
                    border-radius: .02rem;
                }
            }

            h2 {
                padding: .4401rem 0 .3999rem;
                font-size: .22rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #5e6e84;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    transition: all 1s;
                }
            }
        }
    }
}

/* 服务项目结束 */


/* 国际合作开始 */
.district-4 {
    padding: .49rem 0 .25rem 0;
    background: #fafbfd;

    .cooperation {
        .w-1500;

        .cooperation-title {
            div {
                .flex-center;

                h1 {
                    margin: 0 .27rem;
                    font-size: .36rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: center;
                    color: #0f335e;

                    span {

                        color: #2680eb;
                    }
                }

                p {
                    width: .6801rem;
                    height: .0399rem;
                    background-color: #0f335e;
                    border-radius: .02rem;
                }
            }

            h2 {
                padding: .4401rem 0 .3999rem;
                font-size: .22rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #5e6e84;
                line-height: .36rem;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                overflow: hidden;
                width: 4.71rem;
                height: 2.66rem;
                margin-bottom: .3001rem;

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                img {
                    width: 100%;
                    transition: all 1s;
                }
            }
        }
    }
}

/* 国际合作结束 */

/* 底部开始 */
footer {
    .w-1920;
    margin-bottom: 1.1501rem;
    transition: all 0.5s;

    .district-5 {
        background: #262a32;

        .district-5-content {
            .w-1500;

            .top {
                ul {
                    border-bottom: .01rem solid #535f6d;
                    .flex-space-between;
                    padding: .5401rem 0;

                    li {
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: .39rem;
                        }

                        span {
                            font-size: .24rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                            font-weight: 500;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            width: 2.79rem;
                            margin-top: .1901rem;
                            font-size: .1801rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #9faab8;
                            line-height: .2799rem;
                        }
                    }
                }
            }

            .bottom {
                padding-bottom: .5rem;
                .flex-space-between;

                .contact-way {
                    .contact-way-title {
                        padding: .47rem 0 .5rem 0;
                        font-size: .24rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    .contact-way-content {
                        display: flex;
                        align-items: center;

                        div {
                            margin-left: .23rem;

                            span {
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #9faab8;
                            }

                            p {
                                margin-top: .1599rem;
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #ffffff;
                            }

                            h2 {
                                margin-top: .11rem;
                                font-size: .3001rem;
                                font-family: Arial, Arial-Bold;
                                font-weight: 700;
                                text-align: left;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .recommend {
                    .recommend-title {
                        padding: .47rem 0 .5rem 0;
                        font-size: .24rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    ul {
                        display: flex;

                        li {
                            margin-right: .5rem;
                            display: flex;
                            flex-direction: column;

                            &:nth-last-of-type(1) {
                                margin-right: 0;
                            }

                            a {
                                margin-bottom: .48rem;
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #a8a9ad;
                                transition: all 0.5s;

                                &:hover {
                                    color: #2680eb;
                                }

                                &:nth-last-of-type(1) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .consult {
                    margin-top: .4099rem;

                    img {
                        width: 2.25rem;
                    }

                    p {
                        margin: .27rem 0;
                        font-size: .1801rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffd500;
                    }

                    a {
                        width: 2.49rem;
                        height: .57rem;
                        line-height: .5501rem;
                        background: #2680eb;
                        font-size: .1801rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;
                        transition: all 0.5s;
                        border: .01rem solid transparent;

                        &:hover {
                            border: .01rem solid #fff;
                            background: none;

                        }
                    }
                }
            }
        }
    }

    .district-6 {
        background: #0b161e;
        padding: .2799rem 0 .3999rem 0;
        position: relative;

        .district-6-content {
            .w-1500;

            p {
                margin-bottom: .26rem;
                font-size: .1599rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #a8a9ad;
            }

            ul {
                .flex-space-between;

                li {
                    font-size: .1599rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #a8a9ad;

                    a {
                        color: #a8a9ad;
                        text-decoration: underline !important;


                        &:hover {
                            color: #2680eb;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
}

/* 底部结束 */

/* 底部固定定位开始 */
.fixed-streamer {
    .w-1920;
    height: 1.1501rem;
    background: url(../images/index-img/footer-fixed-bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 8888;

    transition: all 1s;

    .fixed-streamer-content {
        .w-1500;
        .flex-space-between;
        position: relative;

        height: 100%;

        >img {
            width: 2.3299rem;
            position: absolute;
            left: 3.0499rem;
            bottom: 0;
        }

        .left {
            p {
                margin-bottom: .1901rem;
                font-size: .3001rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }

            span {
                margin-left: 1.05rem;
                font-size: .3001rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffd500;
            }
        }

        .right {
            .fixed-streamer-title {
                width: 100%;
                margin-bottom: .1599rem;
                .flex-space-between;

                p {
                    font-size: .2001rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #fafbfd;

                    span {
                        color: #ffd500;
                    }
                }

                h2 {
                    font-size: .2001rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #ffd500;
                }
            }

            form {
                display: flex;
                font-size: 0;

                input {
                    outline: none;
                    border: none;
                    padding-left: .1699rem;
                    background: rgba(255, 255, 255, 0.10);
                    font-size: .14rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: rgb(255, 255, 255, 0.5);
                }

                #name {
                    width: 2.04rem;
                    height: .46rem;
                    margin-right: .2001rem;

                }

                #phone {
                    width: 3.7699rem;
                    height: .46rem;

                }

                button {
                    border: none;
                    margin-left: .2001rem;
                    width: 1.9901rem;
                    height: .46rem;
                    background: #2680eb;
                    font-size: .1699rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }

    .footer-fixed-guanbi {
        position: absolute;
        right: 2%;
        top: .1699rem;

        img {
            width: .21rem;
            cursor: pointer;
        }
    }
}

/* 底部固定定位结束 */

.small-fixed-streamer {
    width: 2.63rem;
    height: .94rem;
    background: url(../images/index-img/footer-fixed-bg2.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: -2.63rem;
    bottom: 0;
    z-index: 8888;
    transition: all 1s;

    .tiaozhuan {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h2 {
            font-size: .1599rem;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #ffffff;

            span {
                font-size: .1801rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }
        }

        p {
            font-size: .1801rem;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #fafbfd;

            span {
                color: #ffd500;
            }
        }
    }
}