body {
    overflow: hidden;
}

.w-1920 {
    width: 1920px;
    margin: 0 auto;
}

.w-1500 {
    width: 1500px;
    margin: 0 auto;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: 13.9968px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: 13.9968px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 13.9968px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: 13.9968px;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgb(255, 255, 255, 0.5);
}


header {

    .top-bar {
        background-color: #f6f6f6;
        height: 49.9968px;

        >div {
            .w-1500;
            .flex-space-between;
            height: 100%;



            .left {
                font-size: 18.0096px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #666666;
            }


            ul {
                .flex-center;

                li {
                    font-size: 18.0096px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: right;
                    color: #666666;

                    &:nth-of-type(2n) {
                        width: 1.9968px;
                        height: 12.9984px;
                        background: #999999;
                        margin: 0 14.9952px;
                    }

                }
            }
        }
    }



    .bottom-bar {
        padding: 34.0032px 0;

        .bottom-bar-content {
            .w-1500;
            .flex-space-between;

            .left {
                .flex-center;

                div {
                    margin-left: 32.0064px;

                    h2 {
                        font-size: 24.9984px;
                        font-family: SourceHanSansCN-Bold;
                        text-align: left;
                        color: #000;
                        font-weight: 700;

                        span {

                            color: #2680eb;
                        }
                    }

                    p {
                        margin-top: 11.0016px;
                        font-size: 19.008px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #333333;
                    }
                }
            }

            .right {
                p {
                    display: flex;
                    align-items: center;

                    img {
                        width: 23.0016px;
                        margin-right: 8.0064px;
                    }

                    span {
                        font-size: 20.0064px;
                        font-family: SourceHanSansCN-Regular;
                        text-align: left;
                        color: #000000;
                    }
                }

                h2 {
                    margin-top: 10.0032px;
                    font-size: 33.0048px;
                    font-family: SourceHanSansCN-Bold;
                    text-align: right;
                    color: #2680eb;
                    font-weight: 700;
                }
            }
        }

    }
}

/* 头部结束 */


/* 导航栏开始 */
.nav {
    .w-1920;
    background: #000;
    box-shadow: 0px 6.0096px 6.0096px 0px rgba(38, 128, 235, 0.04);
    transition: all 1s;

    >ul {
        .w-1500;
        display: flex;
        justify-content: space-between;


        .activate {
            background: #2680eb !important;

            a {
                color: #ffffff !important;
            }

        }

        >li {
            position: relative;

            >a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 148.992px;
                height: 83.0016px;
                font-size: 18.0096px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #ffffff;

                i {
                    margin-left: 4.992px;
                    font-size: 24.9984px;
                    transition: all 1s;
                }
            }

            ul {
                display: none;
                background: #2680eb;
                position: absolute;
                z-index: 100;
                left: 0;
                top: 83.0016px;
                padding-bottom: 20.0064px;

                li {
                    >a {
                        display: inline-block;
                        width: 148.992px;
                        padding: 24.9984px 0;
                        position: relative;
                        opacity: 0.5;
                        font-size: 15.9936px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;

                        &:hover {
                            opacity: 1;

                            p {
                                display: block;
                            }
                        }

                        p {
                            display: none;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 0;
                            width: 20.0064px;
                            height: 2.9952px;
                            background-color: #ffffff;
                        }
                    }
                }

            }
        }
    }

}

/* 导航栏结束 */

/* 主体部分开始 */
main {
    .w-1500;
    margin-top: 58.0032px;
    margin-bottom: 83.0016px;
    display: flex !important;
    justify-content: space-between;

    .left {
        width: 1092.9984px;

        .breadcrumb-nav {
            font-size: 22.0032px;
            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
            font-weight: 400;
            text-align: left;
            color: #0f335e;
            display: flex;
            align-items: center;
            padding-bottom: 34.0032px;

            ul {
                display: flex;
                align-items: center;
            }
        }


        .main {
            background: #fafbfd;
            padding: 45.0048px 40.992px 54.0096px 35.0016px;

            .title {
                font-size: 36px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #0f335e;
                padding-bottom: 36px;
                border-bottom: .9984px solid #eeeeee;
            }
        }

        .last-next {
            .flex-space-between;
            margin-top: 27.9936px;
            width: 100%;

            li {
                a {
                    display: flex;
                    align-items: center;
                    width: 482.9952px;
                    height: 69.0048px;
                    background: #fafbfd;
                    font-size: 20.0064px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: #0f335e;
                    transition: all 0.5s;

                    span {
                        padding: 0 24px 0 33.0048px;
                    }

                    p {
                        width: 311.0016px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    &:hover {
                        background: #2680eb;
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .right {
        width: 371.0016px;

        .title {
            display: flex;
            align-items: center;
            margin-bottom: 35.0016px;

            p {
                margin-right: 14.9952px;
                width: 3.9936px;
                height: 26.9952px;
                border-radius: 1.9968px;
                background-color: #0f335e;
            }

            h1 {
                font-size: 25.9968px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #0f335e;
            }
        }

        ul {
            width: 100%;

            li {
                background: #fafbfd;
                margin-bottom: 20.0064px;

                &:nth-last-of-type(1) {
                    margin-bottom: 0;
                }

                a {
                    display: block;

                    i {
                        overflow: hidden;

                        img {
                            width: 100%;
                            transition: all 1s;
                        }

                    }

                    p {
                        padding: 20.0064px 70.0032px 24.9984px 16.992px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 18.0096px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                        font-weight: 700;
                        text-align: left;
                        color: #0f335e;
                    }
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

/* 主体部分结束 */

/* 底部开始 */
footer {
    .w-1920;
    margin-bottom: 115.008px;
    transition: all 0.5s;

    .district-5 {
        background: #262a32;

        .district-5-content {
            .w-1500;

            .top {
                ul {
                    border-bottom: .9984px solid #535f6d;
                    .flex-space-between;
                    padding: 54.0096px 0;

                    li {
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: 38.9952px;
                        }

                        span {
                            font-size: 24px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                            font-weight: 500;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            width: 278.9952px;
                            margin-top: 19.008px;
                            font-size: 18.0096px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #9faab8;
                            line-height: 27.9936px;
                        }
                    }
                }
            }

            .bottom {
                padding-bottom: 49.9968px;
                .flex-space-between;

                .contact-way {
                    .contact-way-title {
                        padding: 47.0016px 0 49.9968px 0;
                        font-size: 24px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    .contact-way-content {
                        display: flex;
                        align-items: center;

                        div {
                            margin-left: 23.0016px;

                            span {
                                font-size: 18.0096px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #9faab8;
                            }

                            p {
                                margin-top: 15.9936px;
                                font-size: 18.0096px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #ffffff;
                            }

                            h2 {
                                margin-top: 11.0016px;
                                font-size: 30.0096px;
                                font-family: Arial, Arial-Bold;
                                font-weight: 700;
                                text-align: left;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .recommend {
                    .recommend-title {
                        padding: 47.0016px 0 49.9968px 0;
                        font-size: 24px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    ul {
                        display: flex;

                        li {
                            margin-right: 49.9968px;
                            display: flex;
                            flex-direction: column;

                            &:nth-last-of-type(1) {
                                margin-right: 0;
                            }

                            a {
                                margin-bottom: 48px;
                                font-size: 18.0096px;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #a8a9ad;
                                transition: all 0.5s;

                                &:hover {
                                    color: #2680eb;
                                }

                                &:nth-last-of-type(1) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .consult {
                    margin-top: 40.992px;

                    img {
                        width: 225.0048px;
                    }

                    p {
                        margin: 26.9952px 0;
                        font-size: 18.0096px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffd500;
                    }

                    a {
                        width: 249.0048px;
                        height: 57.0048px;
                        line-height: 55.008px;
                        background: #2680eb;
                        font-size: 18.0096px;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;
                        transition: all 0.5s;
                        border: .9984px solid transparent;

                        &:hover {
                            border: .9984px solid #fff;
                            background: none;

                        }
                    }
                }
            }
        }
    }

    .district-6 {
        background: #0b161e;
        padding: 27.9936px 0 39.9936px 0;
        position: relative;

        .district-6-content {
            .w-1500;

            p {
                margin-bottom: 25.9968px;
                font-size: 15.9936px;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #a8a9ad;
            }

            ul {
                .flex-space-between;

                li {
                    font-size: 15.9936px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #a8a9ad;

                    a {
                        color: #a8a9ad;
                        text-decoration: underline !important;


                        &:hover {
                            color: #2680eb;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
}

/* 底部结束 */

/* 底部固定定位开始 */
.fixed-streamer {
    .w-1920;
    height: 115.008px;
    background: url(../images/index-img/footer-fixed-bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 8888;

    transition: all 1s;

    .fixed-streamer-content {
        .w-1500;
        .flex-space-between;
        position: relative;

        height: 100%;

        >img {
            width: 232.992px;
            position: absolute;
            left: 304.992px;
            bottom: 0;
        }

        .left {
            p {
                margin-bottom: 19.008px;
                font-size: 30.0096px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }

            span {
                margin-left: 105.0048px;
                font-size: 30.0096px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffd500;
            }
        }

        .right {
            .fixed-streamer-title {
                width: 100%;
                margin-bottom: 15.9936px;
                .flex-space-between;

                p {
                    font-size: 20.0064px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #fafbfd;

                    span {
                        color: #ffd500;
                    }
                }

                h2 {
                    font-size: 20.0064px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #ffd500;
                }
            }

            form {
                display: flex;
                font-size: 0;

                input {
                    outline: none;
                    border: none;
                    padding-left: 16.992px;
                    background: rgba(255, 255, 255, 0.10);
                    font-size: 13.9968px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: rgb(255, 255, 255, 0.5);
                }

                #name {
                    width: 204px;
                    height: 46.0032px;
                    margin-right: 20.0064px;

                }

                #phone {
                    width: 376.992px;
                    height: 46.0032px;

                }

                button {
                    border: none;
                    margin-left: 20.0064px;
                    width: 199.008px;
                    height: 46.0032px;
                    background: #2680eb;
                    font-size: 16.992px;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }

    .footer-fixed-guanbi {
        position: absolute;
        right: 2%;
        top: 16.992px;

        img {
            width: 21.0048px;
            cursor: pointer;
        }
    }
}

/* 底部固定定位结束 */

.small-fixed-streamer {
    width: 263.0016px;
    height: 94.0032px;
    background: url(../images/index-img/footer-fixed-bg2.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: -263.0016px;
    bottom: 0;
    z-index: 8888;
    transition: all 1s;

    .tiaozhuan {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h2 {
            font-size: 15.9936px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #ffffff;

            span {
                font-size: 18.0096px;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }
        }

        p {
            font-size: 18.0096px;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #fafbfd;

            span {
                color: #ffd500;
            }
        }
    }
}