body {
  overflow: hidden;
}

.w-1920 {
  width: 100%;
  margin: 0 auto;
}

.w-1500 {
  width: 95%;
  margin: 0 auto;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

/* 导航栏开始 */
.m-nav {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #fff;
}

.m-nav .m-nav-content {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: .2rem 0;
}

.m-nav .m-nav-content .m-left img {
  width: .48rem;
}

.m-nav .m-nav-content .m-middle {
  font-size: .24rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  color: #0f335e;
}

.m-nav .m-nav-content .m-right img {
  width: .48rem;
}

.m-nav .m-nav-content ul {
  display: none;
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0.88rem;
  background: #111214;
}

.m-nav .m-nav-content ul li a {
  padding: 0.26667rem 0.53333rem;
  font-size: .18rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.m-nav .m-nav-content ul .m-activate {
  background: #2680eb;
}

/* 导航栏结束 */
/* banner开始 */
.m-banner {
  width: 100%;
  margin: 0 auto;
  margin-top: 0.9rem;
  position: relative;
}

.m-banner img {
  width: 100%;
}

.m-banner .m-banner-content {
  width: 95%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.m-banner .m-banner-content h1 {
  font-size: .36rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

.m-banner .m-banner-content p {
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  line-height: .36rem;
}

/* banner结束 */
/*index_container开始*/
.index_container {
  margin-top: .3rem;
  width: 100%;
}

.container_center {
  width: 95%;
  margin: 0 auto;
}

.container_center ul li {
  width: 100%;
  height: 3.69rem;
  background: #fafbfd;
  margin-bottom: .31rem;
  box-sizing: border-box;
  transition: all ease 2s;
}

.container_center_li_lump {
  height: 3.69rem;
  position: relative;
}

.container_center_li_img {
  width: 100%;
  height: 3.69rem;
}

.container_center_li_img img {
  width: 100%;
  height: 3.69rem;
}

.container_center_li_block {
  width: 100%;
  height: 100%;
  padding-top: .52rem;
  padding-left: .32rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.6) !important;
}



.container_center_li_block_left {
  width: 3.22rem;
  height: 2.69rem;
  float: left;
}

.container_center_li_block_left_p {
  width: 3.22rem;
  height: 2.16rem;
  transition: all ease 0.5s;
}

.container_center_li_block_left_p p {
  color: #ffffff;
  font-size: .3rem;
  font-weight: bold;
  line-height: .5rem;
  transition: all ease 0.5s;
}

.container_center_li_block_left_contact {
  width: 3.22rem;
  height: .53rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.container_center_li_block_left_contact_understand {
  width: 1.5rem;
  height: .53rem;
  border: .01rem solid #ffffff;
}

.container_center_li_block_left_contact_understand a {
  width: 1.5rem;
  height: .53rem;
}



.container_center_li_block_left_contact_understand_piece {
  width: 1.5rem;
  height: .53rem;
  line-height: .53rem;
  text-align: center;
}

.container_center_li_block_left_contact_understand_piece h3 {
  height: .53rem;
  line-height: .53rem;
  color: #ffffff;
  font-size: .24rem;
  transition: all ease 0.5s;
}



.container_center_li_block_left_contact_link {
  width: 1.5rem;
  height: .53rem;
  border: .01rem solid #ffffff;
}



.container_center_li_block_left_contact_link a {
  width: 1.5rem;
  height: .53rem;
}

.container_center_li_block_left_contact_link_piece {
  width: 1.5rem;
  height: .53rem;
  line-height: .53rem;
  text-align: center;
}

.container_center_li_block_left_contact_link_piece h3 {
  height: .53rem;
  line-height: .53rem;
  color: #ffffff;
  font-size: .24rem;
  transition: all ease 0.5s;
}


.container_center_li_block_right {
  width: 3.3rem;
  height: 2.69rem;
  float: left;
}

.container_center_li_block_right_hr {
  width: .01rem;
  height: .53rem;
  margin: 0;
  float: right;
}

.container_center_li_block_right_hr hr {
  width: .01rem;
  height: .53rem;
  background-color: #eee;
  border: none;
  margin: 0;
  transition: all ease 0.5s;
}

.container_center_li_block_right_num {
  width: .63rem;
  height: .56rem;
  float: right;
  margin-left: .37rem;
}

.container_center_li_block_right_num h3 {
  color: #2680EB;
  font-size: .6rem;
  transition: all ease 0.5s;
}

/*index_container结束*/
.m-fanye {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .48rem 0 .46rem 0;
}

.m-fanye div {
  background: #fafbfd;
}

.m-fanye div:hover {
  background: #2680eb;
}

.m-fanye div:hover a {
  color: #ffffff;
}

.m-fanye div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.32rem;
  height: .5299rem;
  font-size: .24rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: center;
  color: #0f335e;
}

.m-fanye ul {
  margin: 0 .2001rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-fanye ul .activate {
  background: #2680eb;
}

.m-fanye ul .activate a {
  color: #ffffff;
}

.m-fanye ul li {
  width: .5299rem;
  height: .5299rem;
  background: #fafbfd;
  margin-right: .2001rem;
  transition: all 0.5s;
}

.m-fanye ul li:hover {
  background: #2680eb;
}

.m-fanye ul li:hover a {
  color: #ffffff;
}

.m-fanye ul li a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: .5299rem;
  font-size: .26rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: center;
  color: #0f335e;
  transition: all 0.5s;
}

/* 底部开始 */
.m-footer {
  width: 100%;
  margin: 0 auto;
  background: #262a32;
}

.m-footer .top {
  width: 95%;
  margin: 0 auto;
}

.m-footer .top ul {
  padding: .3rem 0;
}

.m-footer .top ul li {
  padding: .2rem 0;
  display: flex;
  align-items: center;
}

.m-footer .top ul li img {
  margin-right: .39rem;
}

.m-footer .top ul li span {
  font-size: .24rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.m-footer .top ul li p {
  margin-top: .1901rem;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #9faab8;
  line-height: .2799rem;
}

.m-footer .top ul li h2 {
  margin-top: .1901rem;
  font-size: .3001rem;
  font-family: Arial, Arial-Bold;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}

/* 底部结束 */



/**************m_consult***********/
.m_consult{width: 7.5rem;height: 0.9rem;background:url('../../images/index-img/m_consult_bg.png') no-repeat;background-size: 100% 100%;position: relative;bottom: 0.22rem;position: fixed;bottom: -0.01rem;margin: 0 auto;z-index: 999;}
.m_consult_center{width: 5.84rem;height: 0.9rem;margin: 0 auto;box-sizing: border-box;padding-top: 0.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.m_consult_left{width: 2.55rem;height: 0.68rem;box-sizing: border-box;padding-left: 0.36rem;padding-right: 0.48rem;}

.m_consult_left_img{float: left;width: 0.5rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_left img{width: 0.27rem;height: 0.27rem;}

.m_consult_left_h3{float: left;width: 1.2rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_left h3{font-size: 0.28rem;font-weight: normal;}

.m_consult_middle{width: 0.74rem;height: 0.68rem;position: relative;bottom: 0.1rem;}

.m_consult_middle_img{width: 0.74rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;}
.m_consult_middle img{width: 0.6rem;height: 0.6rem;}

.m_consult_right{width: 2.55rem;height: 0.68rem;box-sizing: border-box;padding-left: 0.54rem;padding-right: 0.37rem;}

.m_consult_right_img{float: left;width: 0.43rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_right img{width: 0.25rem;height: 0.27rem;}

.m_consult_right_h3{float: left;width: 1.2rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_right h3{font-size: 0.28rem;font-weight: normal;}
