body {
  overflow: hidden;
}
.w-1920 {
  width: 100%;
  margin: 0 auto;
}
.w-1500 {
  width: 95%;
  margin: 0 auto;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
input::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: .14rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
/* 导航栏开始 */
.m-nav {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #fff;
}
.m-nav .m-nav-content {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: .2rem 0;
}
.m-nav .m-nav-content .m-left img {
  width: .48rem;
}
.m-nav .m-nav-content .m-middle {
  font-size: .24rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  color: #0f335e;
}
.m-nav .m-nav-content .m-right img {
  width: .48rem;
}
.m-nav .m-nav-content ul {
  display: none;
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0.88rem;
  background: #111214;
}
.m-nav .m-nav-content ul li a {
  padding: 0.26667rem 0.53333rem;
  font-size: .18rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
.m-nav .m-nav-content ul .m-activate {
  background: #2680eb;
}
/* 导航栏结束 */
/* banner开始 */
.m-banner {
  width: 100%;
  margin: 0 auto;
  margin-top: 0.9rem;
}
.m-banner img {
  width: 100%;
}
/* banner结束 */
/* 主要产品开始 */
.m-district-1 {
  width: 100%;
  margin: 0 auto;
}
.m-district-1 .m-product {
  width: 95%;
  margin: 0 auto;
}
.m-district-1 .m-product .m-product-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 0;
}
.m-district-1 .m-product .m-product-title h1 {
  margin: 0 .3999rem;
  font-size: .36rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #0f335e;
}
.m-district-1 .m-product .m-product-title p {
  width: .6801rem;
  height: .0399rem;
  background-color: #0f335e;
  border-radius: .02rem;
}
.m-district-1 .m-product .m-product-content .left ul li {
  font-size: .22rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 400;
  text-align: left;
  line-height: .4201rem;
  color: #5E6E84;
}
.m-district-1 .m-product .m-product-content .left ul li span {
  font-weight: 700;
  color: #0f335e;
}
.m-district-1 .m-product .m-product-content .right {
  margin-top: .5rem;
  width: 100%;
  overflow: hidden;
}
.m-district-1 .m-product .m-product-content .right img {
  width: 100%;
  transition: all 1s;
}
/* 主要产品结束 */
/* 客户共同选择开始 */
.m-district-2 {
  background: #fafbfd;
  padding: .75rem 0 .1501rem 0;
}
.m-district-2 .m-select {
  width: 95%;
  margin: 0 auto;
}
.m-district-2 .m-select .m-select-title div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-district-2 .m-select .m-select-title div h1 {
  margin: 0 .27rem;
  font-size: .36rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  color: #0f335e;
}
.m-district-2 .m-select .m-select-title div h1 span {
  color: #2680eb;
}
.m-district-2 .m-select .m-select-title div p {
  width: .6801rem;
  height: .0399rem;
  background-color: #0f335e;
  border-radius: .02rem;
}
.m-district-2 .m-select .m-select-title h2 {
  padding: .3201rem 0 .69rem;
  font-size: .22rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #5e6e84;
  line-height: .36rem;
}
.m-district-2 .m-select ul {
  display: flex;
}
.m-district-2 .m-select ul li {
  width: 50%;
}
.m-district-2 .m-select ul li > div {
  padding-top: .45rem;
  padding-left: .2899rem;
  width: 100%;
  height: 2.9rem;
  position: relative;
  background: #ffffff;
  transition: all 1s;
}
.m-district-2 .m-select ul li > div p {
  font-size: .36rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: left;
  color: #0f335e;
  line-height: .6399rem;
  transition: all 1s;
}
.m-district-2 .m-select ul li > div span {
  margin-top: .6rem;
  display: block;
  width: .8799rem;
  height: .0701rem;
  background-color: #2680eb;
  border-radius: .03rem;
  transition: all 1s;
}
.m-district-2 .m-select ul li > div div {
  width: 0;
  height: 0;
  border: .25rem solid transparent;
  border-top: .2001rem solid #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.3999rem;
  z-index: 2;
  transition: all 1s;
}
.m-district-2 .m-select ul li i {
  width: 100%;
  overflow: hidden;
}
.m-district-2 .m-select ul li i img {
  width: 100%;
  transition: all 1s;
}
.m-district-2 .m-select ul li:nth-of-type(2) > div {
  padding-left: .3999rem;
}
.m-district-2 .m-select ul li:nth-of-type(2) > div div {
  width: 0;
  height: 0;
  border: .25rem solid transparent;
  border-bottom: .2001rem solid #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.3999rem;
  z-index: 2;
  transition: all 1s;
}
/* 客户共同选择结束 */
/* 国际合作开始 */
.m-district-4 {
  padding: .49rem 0 .25rem 0;
  background: #fafbfd;
}
.m-district-4 .m-cooperation {
  width: 95%;
  margin: 0 auto;
}
.m-district-4 .m-cooperation .m-cooperation-title div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-district-4 .m-cooperation .m-cooperation-title div h1 {
  margin: 0 .27rem;
  font-size: .36rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Bold;
  font-weight: 700;
  text-align: center;
  color: #0f335e;
}
.m-district-4 .m-cooperation .m-cooperation-title div h1 span {
  color: #2680eb;
}
.m-district-4 .m-cooperation .m-cooperation-title div p {
  width: .6801rem;
  height: .0399rem;
  background-color: #0f335e;
  border-radius: .02rem;
}
.m-district-4 .m-cooperation .m-cooperation-title h2 {
  padding: .4401rem 0 .3999rem;
  font-size: .22rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: center;
  color: #5e6e84;
  line-height: .36rem;
}
.m-district-4 .m-cooperation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.m-district-4 .m-cooperation ul li {
  overflow: hidden;
  width: 48%;
  margin-bottom: .3001rem;
}
.m-district-4 .m-cooperation ul li img {
  width: 100%;
  transition: all 1s;
}
/* 国际合作结束 */
/* 底部开始 */
.m-footer {
  width: 100%;
  margin: 0 auto;
  background: #262a32;
}
.m-footer .top {
  width: 95%;
  margin: 0 auto;
}
.m-footer .top ul {
  padding: .3rem 0;
}
.m-footer .top ul li {
  padding: .2rem 0;
  display: flex;
  align-items: center;
}
.m-footer .top ul li img {
  margin-right: .39rem;
}
.m-footer .top ul li span {
  font-size: .24rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Medium;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}
.m-footer .top ul li p {
  margin-top: .1901rem;
  font-size: .1801rem;
  font-family: Source Han Sans CN, Source Han Sans CN-Regular;
  font-weight: 400;
  text-align: left;
  color: #9faab8;
  line-height: .2799rem;
}
.m-footer .top ul li h2 {
  margin-top: .1901rem;
  font-size: .3001rem;
  font-family: Arial, Arial-Bold;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
/* 底部结束 */


/**************m_consult***********/
.m_consult{width: 7.5rem;height: 0.9rem;background:url('../../images/index-img/m_consult_bg.png') no-repeat;background-size: 100% 100%;position: relative;bottom: 0.22rem;position: fixed;bottom: -0.01rem;margin: 0 auto;z-index: 999;}
.m_consult_center{width: 5.84rem;height: 0.9rem;margin: 0 auto;box-sizing: border-box;padding-top: 0.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.m_consult_left{width: 2.55rem;height: 0.68rem;box-sizing: border-box;padding-left: 0.36rem;padding-right: 0.48rem;}

.m_consult_left_img{float: left;width: 0.5rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_left img{width: 0.27rem;height: 0.27rem;}

.m_consult_left_h3{float: left;width: 1.2rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_left h3{font-size: 0.28rem;font-weight: normal;}

.m_consult_middle{width: 0.74rem;height: 0.68rem;position: relative;bottom: 0.1rem;}

.m_consult_middle_img{width: 0.74rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;}
.m_consult_middle img{width: 0.6rem;height: 0.6rem;}

.m_consult_right{width: 2.55rem;height: 0.68rem;box-sizing: border-box;padding-left: 0.54rem;padding-right: 0.37rem;}

.m_consult_right_img{float: left;width: 0.43rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_right img{width: 0.25rem;height: 0.27rem;}

.m_consult_right_h3{float: left;width: 1.2rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_right h3{font-size: 0.28rem;font-weight: normal;}

