body {
    overflow: hidden;
}

.w-1920 {
    width: 19.2rem;
    margin: 0 auto;
}

.w-1500 {
    width: 15rem;
    margin: 0 auto;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-input-placeholder {
    /* WebKit browsers */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size: .14rem;
    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}







header {

    .top-bar {
        background-color: #f6f6f6;
        height: .5rem;

        >div {
            .w-1500;
            .flex-space-between;
            height: 100%;



            .left {
                font-size: .1801rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #666666;
            }


            ul {
                .flex-center;

                li {
                    font-size: .1801rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: right;
                    color: #666666;

                    &:nth-of-type(2n) {
                        width: .02rem;
                        height: .13rem;
                        background: #999999;
                        margin: 0 .15rem;
                    }

                }
            }
        }
    }



    .bottom-bar {
        padding: .34rem 0;

        .bottom-bar-content {
            .w-1500;
            .flex-space-between;

            .left {
                .flex-center;

                div {
                    margin-left: .3201rem;

                    h2 {
                        font-size: .25rem;
                        font-family: SourceHanSansCN-Bold;
                        text-align: left;
                        color: #000;
                        font-weight: 700;

                        span {

                            color: #2680eb;
                        }
                    }

                    p {
                        margin-top: .11rem;
                        font-size: .1901rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: left;
                        color: #333333;
                    }
                }
            }

            .right {
                p {
                    display: flex;
                    align-items: center;

                    img {
                        width: .23rem;
                        margin-right: .0801rem;
                    }

                    span {
                        font-size: .2001rem;
                        font-family: SourceHanSansCN-Regular;
                        text-align: left;
                        color: #000000;
                    }
                }

                h2 {
                    margin-top: .1rem;
                    font-size: .33rem;
                    font-family: SourceHanSansCN-Bold;
                    text-align: right;
                    color: #2680eb;
                    font-weight: 700;
                }
            }
        }

    }
}

/* 头部结束 */


/* 导航栏开始 */
.nav {
    .w-1920;
    background: #000;
    box-shadow: 0rem .0601rem .0601rem 0rem rgba(38, 128, 235, 0.04);
    transition: all 1s;

    >ul {
        .w-1500;
        display: flex;
        justify-content: space-between;


        .activate {
            background: #2680eb !important;

            a {
                color: #ffffff !important;
            }

        }

        >li {
            position: relative;

            >a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.4899rem;
                height: .83rem;
                font-size: .1801rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #ffffff;

                i {
                    margin-left: .0499rem;
                    font-size: .25rem;
                    transition: all 1s;
                }
            }

            ul {
                display: none;
                background: #2680eb;
                position: absolute;
                z-index: 100;
                left: 0;
                top: .83rem;
                padding-bottom: .2001rem;

                li {
                    >a {
                        display: inline-block;
                        width: 1.4899rem;
                        padding: .25rem 0;
                        position: relative;
                        opacity: 0.5;
                        font-size: .1599rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;

                        &:hover {
                            opacity: 1;

                            p {
                                display: block;
                            }
                        }

                        p {
                            display: none;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 0;
                            width: .2001rem;
                            height: .03rem;
                            background-color: #ffffff;
                        }
                    }
                }

            }
        }


    }

}

/* 导航栏结束 */
.banner {
    .w-1920;


    .swiper-container-1 {
        width: 100%;
        height: 7.3rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: .1801rem;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .swiper-pagination-bullet {
        width: .15rem;
        height: .15rem;
        opacity: 0.3;
        background: #ffffff;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        width: .38rem;
        height: .15rem;
        background: #ffffff;
        border-radius: .0801rem;
        opacity: 1;
    }

    .swiper-button-prev {
        left: .74rem;
        width: .6601rem;
        height: .6601rem;
        background: rgba(255, 255, 255, 0.20);

        &:hover {
            background: #0063d2;
        }

        img {
            width: .1901rem;
        }
    }

    .swiper-button-next {
        right: .74rem;
        width: .6601rem;
        height: .6601rem;
        background: rgba(255, 255, 255, 0.20);

        &:hover {
            background: #2680eb;
        }

        img {
            width: .1599rem;
        }
    }

    .swiper-button-prev::after {
        display: none;
    }

    .swiper-button-next::after {
        display: none;
    }

    .swiper-pagination {
        position: absolute;
        bottom: .2001rem !important;
    }

    .banner-streamer {
        .w-1920;
        background: #2680eb;

        .banner-streamer-content {
            height: 1.07rem;
            .w-1500;

            ul {
                .flex-space-between;
                height: 100%;

                li {

                    &:hover a {
                        border: .01rem solid #ffffff;
                    }

                    &:hover a p {
                        display: none;
                    }

                    h2 {
                        font-size: .24rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    a {
                        border: .01rem solid transparent;
                        position: relative;
                        display: inline-block;
                        padding: .12rem .2799rem;
                        font-size: .1801rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;

                        p {

                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            transform: translateX(-50%);
                            width: .21rem;
                            height: .02rem;
                            background-color: #ffffff;
                        }
                    }
                }
            }
        }
    }

}

/* 设备生产商开始 */
.district-1 {
    .w-1920;
    padding-top: .8001rem;

    .district-1-content {
        .w-1500;

        .district-1-title {
            .flex-space-between;

            .left {
                h1 {
                    margin-bottom: .27rem;
                    font-size: .36rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #0F335E;

                    span {
                        color: #2680eb;
                    }
                }

                p {
                    font-size: .2001rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: #9faab8;
                }
            }

            .right {
                a {
                    .flex-center;
                    font-size: .24rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #2680eb;


                    img {
                        margin-left: .1rem;
                        width: .14rem;
                    }

                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }

        .hot-cake {
            margin-top: .73rem;

            ul {
                .flex-space-between;

                li {
                    width: 3.3999rem;
                    height: 3.46rem;
                    border: .01rem solid #eeeeee;
                    border-radius: .1599rem .0399rem .0399rem .0399rem;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;

                    &:hover .chanshu {
                        transform: translateY(-3.46rem);
                    }

                    .div-logo {
                        position: absolute;
                        left: -0.0701rem;
                        top: -0.0701rem;
                        z-index: 3;

                        img {
                            width: .99rem;
                        }
                    }

                    i {
                        text-align: center;

                        img {
                            width: 2.37rem;
                        }
                    }

                    >p {
                        padding: 0 .2001rem;
                        font-size: .26rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                        font-weight: 700;
                        text-align: center;
                        color: #0f335e;
                    }

                    .chanshu {
                        transition: all 1s;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: rgba(38, 128, 235, 0.9);
                        left: 0;
                        top: 3.46rem;

                        h2 {
                            font-size: .26rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: center;
                            color: #ffffff;
                        }

                        div {
                            padding: 0 .3001rem;

                            p {
                                line-height: .2799rem;
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: center;
                                color: #ffffff;
                            }
                        }

                        a {
                            .flex-center;
                            width: 1.45rem;
                            height: .4099rem;
                            background: rgba(255, 255, 255, 0.10);
                            border: .01rem solid #ffffff;
                            font-size: .1801rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #ffffff;
                            transition: all 0.5s;

                            &:hover {
                                background-color: #ffffff;
                                color: #2680eb;
                            }
                        }
                    }
                }
            }
        }

        .producer-swiper {
            .w-1500;
            margin-top: .5601rem;
            background: url(../images/index-img/swiper-1-bg.png) no-repeat;
            background-size: 100% 100%;

            .swiper {
                position: relative;
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                width: 4.6099rem;
                height: 3.36rem;
                border: .02rem solid transparent;
                transition: all 0.5s;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    >img {
                        width: 2.74rem;
                    }

                    h2 {
                        width: 100%;
                        padding: 0 .3001rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            display: block;
                            width: 3rem;
                            font-size: .24rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 700;
                            text-align: center;
                            color: #0f335e;
                        }

                        img {
                            width: .26rem;
                            display: none;
                        }
                    }
                }
            }

            .activate {
                background: #ffffff !important;
                border: .02rem solid #eeeeee;

                a {
                    h2 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img {
                            display: block;
                        }

                        span {
                            color: #2680eb;
                        }
                    }
                }
            }



            .swiper-button-prev {
                left: 0;
                width: .4099rem;
                height: .4099rem;
                background: #0f335e;

                &:hover {
                    background: #0063d2;
                }

                img {
                    width: .12rem;
                }
            }

            .swiper-button-next {
                right: 0;
                width: .4099rem;
                height: .4099rem;
                background: #0f335e;

                &:hover {
                    background: #2680eb;
                }

                img {
                    width: .12rem;
                }
            }

            .swiper-button-prev::after {
                display: none;
            }

            .swiper-button-next::after {
                display: none;
            }
        }
    }
}

/* 设备生产商结束 */

/* 关于我们开始 */
.district-2 {
    .w-1920;
    height: 8.5rem;
    position: relative;
    font-size: 0;
    margin-top: 1.1501rem;
    display: flex;
    background: url(../images/index-img/guanyuwomen-bg.jpg) no-repeat;
    background-size: 100% 100%;

    >img {
        width: 100%;
    }

    .left {
        padding-left: 2.1001rem;
        width: 8.3601rem;
        height: 100%;
        background-color: rgba(38, 128, 235, 0.7);

        h1 {
            padding: 1.2701rem 0 .69rem 0;
            font-size: .46rem;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: left;
            color: #ffffff;
        }

        p {
            width: 5.3601rem;
            font-size: .1801rem;
            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
            font-weight: 400;
            text-align: left;
            color: #ffffff;
            line-height: .36rem;
        }

        a {
            .flex-center;
            margin-top: 2.19rem;
            width: 1.9599rem;
            height: .61rem;
            border: .01rem solid #ffffff;
            transition: all 0.5s;

            &:hover {
                background-color: #ffffff;

                span {
                    color: #2680eb;
                }

                i {
                    color: #2680eb;
                }
            }

            span {
                font-size: .22rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #fafbfd;
            }

            i {
                font-size: .26rem;
                margin-left: .1rem;
                color: #fafbfd;
            }
        }
    }

    .right {
        width: 10.8399rem;
        position: relative;

        .About-Us-swiper {
            position: absolute;
            left: 0;
            bottom: .1699rem;
            padding: 0 .7rem;
            width: 100%;

            .swiper-container-3 {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .swiper-slide {
                height: 3rem;
                text-align: center;
                font-size: .1801rem;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: scale(1);
                transition: 300ms;

                img {
                    width: 1.95rem;
                }

            }

            .activate {
                transform: scale(1.2);
            }

            .swiper-button-prev {
                left: .5rem;
                width: .5199rem;
                height: .5199rem;

                background: rgba(15, 51, 94, .5);

                &:hover {
                    background: #0f335e;
                }

                img {
                    width: .12rem;
                }
            }

            .swiper-button-next {
                position: absolute;
                right: .5rem;
                width: .5199rem;
                height: .5199rem;
                background: rgba(15, 51, 94, .5);

                &:hover {
                    background: #0f335e;
                }

                img {
                    width: .12rem;
                }
            }

            .swiper-button-prev::after {
                display: none;
            }

            .swiper-button-next::after {
                display: none;
            }

        }
    }
}

/* 关于我们结束 */


/* 选择我们开始 */
.district-3 {
    .w-1920;
    background: url(../images/index-img/xuanzewomen-bg.jpg) no-repeat;
    background-size: 100% 100%;

    .choose-us {
        .flex-space-between;
        .w-1500;
        height: 4.82rem;


        .left {

            h1 {
                font-size: .38rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #0f335e;
            }

            p {
                margin: .3001rem 0 .8001rem 0;
                opacity: 0.6;
                font-size: .26rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: left;
                color: #0f335e;
            }

            a {
                .flex-center;
                width: 1.9599rem;
                height: .61rem;
                border: .01rem solid #2680eb;
                transition: all 0.5s;

                &:hover {
                    background-color: #2680eb;

                    span {
                        color: #ffffff;
                    }

                    i {
                        color: #ffffff;
                    }
                }

                span {
                    font-size: .22rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: #2680eb;
                }

                i {
                    font-size: .26rem;
                    margin-left: .1rem;
                    color: #2680eb;
                }
            }
        }

        .right {
            .video-img {
                position: relative;
                cursor: pointer;
                width: 6.12rem;
                height: 3.5401rem;
                background: url(../images/index-img/shiping-bg.png) no-repeat;
                background-size: 100% 100%;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: .39rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }

            // 弹出视频部分开始
            .video-box {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                z-index: 9999;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;

                .jsmodern-video {
                    width: 100% !important;
                    height: 100% !important;
                }

                #video {
                    height: 7.3rem;
                    width: 12.9999rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;

                    .guanbi {
                        cursor: pointer;
                        width: .6399rem;
                        position: absolute;
                        right: .1rem;
                        top: .1rem;
                        z-index: 1000;
                        transition: all 0.5s;
                        transform: scale(0.8);

                        &:hover {
                            transform: scale(1);
                        }
                    }
                }

                #video-modal video {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }

                .VideoBtn {
                    img {
                        width: .7rem;
                    }

                    position: absolute;
                    left: 50%;
                    top: 50%;
                    display: block;
                    width: .7rem;
                    height: .7rem;
                    margin-left: -0.35rem;
                    margin-top: -0.35rem;
                    cursor: pointer;
                    z-index: 10;
                }
            }
        }
    }
}

/* 选择我们结束 */



/* 资讯部分开始 */
.district-4 {
    .w-1920;
    padding-top: .7rem;

    .information {
        .w-1500;

        .information-title {
            display: flex;
            justify-content: space-between;
            border-bottom: .01rem solid rgba(159, 170, 184, 0.2);

            .left {
                position: relative;

                ul {
                    display: flex;

                    li {
                        &:nth-last-of-type(1) {
                            margin-right: 0;
                        }

                        margin-right: .83rem;
                        padding-bottom: .2799rem;
                        font-size: .3001rem;
                        font-family: Source Han Sans CN,
                        Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #5e6e84;

                    }

                    .activate {
                        font-size: .36rem;
                        font-weight: 700;
                        color: #0f335e;
                    }
                }

                i {
                    position: absolute;
                    left: 0;
                    bottom: -0.02rem;
                    width: 1.44rem;

                    img {
                        width: 100%;
                    }
                }

            }

            .right {
                a {
                    .flex-center;
                    font-size: .24rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #2680eb;

                    img {
                        margin-left: .1rem;
                        width: .14rem;
                    }

                    &:hover {
                        font-weight: 700;

                    }
                }
            }
        }

        .information-content {
            margin-top: .5601rem;

            .information-box {
                .flex-space-between;

                .left {
                    width: 5.2401rem;
                    position: relative;
                    overflow: hidden;

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    img {
                        width: 5.2401rem;
                        transition: all 1s;
                    }

                    a {
                        .flex-space-between;
                        background: #2680eb;
                        padding: .22rem;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;

                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;

                            display: inline-block;
                            width: 3.9999rem;
                            font-size: .2001rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #ffffff;
                            line-height: .26rem;
                        }

                        i {
                            color: #ffffff;
                            font-size: .2001rem;
                        }
                    }
                }

                .right {
                    flex: 1;
                    display: flex;


                    ul {
                        display: flex;
                        justify-content: flex-end;
                        flex-wrap: wrap;

                        li {
                            a {
                                width: 4.7501rem;
                                padding: .22rem .27rem;
                                transition: all 0.5s;

                                &:hover {
                                    background: #e4e4e4;

                                    h2 {
                                        font-weight: 700;

                                    }

                                    span {
                                        color: #2680eb;
                                    }
                                }

                                h2 {
                                    font-size: .24rem;
                                    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                                    font-weight: 500;
                                    text-align: left;
                                    color: #0f335e;
                                    transition: all 0.5s;
                                }

                                p {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;


                                    margin: .2001rem 0;
                                    font-size: .2001rem;
                                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                    font-weight: 400;
                                    text-align: left;
                                    color: #9faab8;
                                    line-height: .34rem;
                                }

                                span {
                                    font-size: .24rem;
                                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                                    font-weight: 700;
                                    text-align: left;
                                    color: #0f335e;
                                    transition: all 0.5s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 资讯部分结束 */

/* 底部开始 */
footer {
    .w-1920;
    margin-top: 1.3rem;
    margin-bottom: 1.1501rem;
    transition: all 0.5s;

    .district-5 {
        background: #262a32;

        .district-5-content {
            .w-1500;

            .top {
                ul {
                    border-bottom: .01rem solid #535f6d;
                    .flex-space-between;
                    padding: .5401rem 0;

                    li {
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: .39rem;
                        }

                        span {
                            font-size: .24rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                            font-weight: 500;
                            text-align: left;
                            color: #ffffff;
                        }

                        p {
                            width: 2.79rem;
                            margin-top: .1901rem;
                            font-size: .1801rem;
                            font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                            font-weight: 400;
                            text-align: left;
                            color: #9faab8;
                            line-height: .2799rem;
                        }
                    }
                }
            }

            .bottom {
                padding-bottom: .5rem;
                .flex-space-between;

                .contact-way {
                    .contact-way-title {
                        padding: .47rem 0 .5rem 0;
                        font-size: .24rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    .contact-way-content {
                        display: flex;
                        align-items: center;

                        div {
                            margin-left: .23rem;

                            span {
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #9faab8;
                            }

                            p {
                                margin-top: .1599rem;
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #ffffff;
                            }

                            h2 {
                                margin-top: .11rem;
                                font-size: .3001rem;
                                font-family: Arial, Arial-Bold;
                                font-weight: 700;
                                text-align: left;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .recommend {
                    .recommend-title {
                        padding: .47rem 0 .5rem 0;
                        font-size: .24rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffffff;
                    }

                    ul {
                        display: flex;

                        li {
                            margin-right: .5rem;
                            display: flex;
                            flex-direction: column;

                            &:nth-last-of-type(1) {
                                margin-right: 0;
                            }

                            a {
                                margin-bottom: .48rem;
                                font-size: .1801rem;
                                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                                font-weight: 400;
                                text-align: left;
                                color: #a8a9ad;
                                transition: all 0.5s;

                                &:hover {
                                    color: #2680eb;
                                }

                                &:nth-last-of-type(1) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }

                .consult {
                    margin-top: .4099rem;

                    img {
                        width: 2.25rem;
                    }

                    p {
                        margin: .27rem 0;
                        font-size: .1801rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Medium;
                        font-weight: 500;
                        text-align: left;
                        color: #ffd500;
                    }

                    a {
                        width: 2.49rem;
                        height: .57rem;
                        line-height: .5501rem;
                        background: #2680eb;
                        font-size: .1801rem;
                        font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                        font-weight: 400;
                        text-align: center;
                        color: #ffffff;
                        transition: all 0.5s;
                        border: .01rem solid transparent;

                        &:hover {
                            border: .01rem solid #fff;
                            background: none;

                        }
                    }
                }
            }
        }
    }

    .district-6 {
        background: #0b161e;
        padding: .2799rem 0 .3999rem 0;
        position: relative;

        .district-6-content {
            .w-1500;

            p {
                margin-bottom: .26rem;
                font-size: .1599rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                font-weight: 400;
                text-align: center;
                color: #a8a9ad;
            }

            ul {
                .flex-space-between;

                li {
                    font-size: .1599rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #a8a9ad;

                    a {
                        color: #a8a9ad;
                        text-decoration: underline !important;


                        &:hover {
                            color: #2680eb;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
}

/* 底部结束 */

/* 底部固定定位开始 */
.fixed-streamer {
    .w-1920;
    height: 1.1501rem;
    background: url(../images/index-img/footer-fixed-bg.jpg) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 8888;

    transition: all 1s;

    .fixed-streamer-content {
        .w-1500;
        .flex-space-between;
        position: relative;

        height: 100%;

        >img {
            width: 2.3299rem;
            position: absolute;
            left: 3.0499rem;
            bottom: 0;
        }

        .left {
            p {
                margin-bottom: .1901rem;
                font-size: .3001rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }

            span {
                margin-left: 1.05rem;
                font-size: .3001rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffd500;
            }
        }

        .right {
            .fixed-streamer-title {
                width: 100%;
                margin-bottom: .1599rem;
                .flex-space-between;

                p {
                    font-size: .2001rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #fafbfd;

                    span {
                        color: #ffd500;
                    }
                }

                h2 {
                    font-size: .2001rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                    font-weight: 700;
                    text-align: left;
                    color: #ffd500;
                }
            }

            form {
                display: flex;
                font-size: 0;

                input {
                    outline: none;
                    border: none;
                    padding-left: .1699rem;
                    background: rgba(255, 255, 255, 0.10);
                    font-size: .14rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: left;
                    color: rgb(255, 255, 255, 0.5);
                }

                #name {
                    width: 2.04rem;
                    height: .46rem;
                    margin-right: .2001rem;

                }

                #phone {
                    width: 3.7699rem;
                    height: .46rem;

                }

                button {
                    border: none;
                    margin-left: .2001rem;
                    width: 1.9901rem;
                    height: .46rem;
                    background: #2680eb;
                    font-size: .1699rem;
                    font-family: Source Han Sans CN, Source Han Sans CN-Regular;
                    font-weight: 400;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }

    .footer-fixed-guanbi {
        position: absolute;
        right: 2%;
        top: .1699rem;

        img {
            cursor: pointer;
            width: .21rem;
        }
    }
}

/* 底部固定定位结束 */

.small-fixed-streamer {
    width: 2.63rem;
    height: .94rem;
    background: url(../images/index-img/footer-fixed-bg2.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    right: -2.63rem;
    bottom: 0;
    z-index: 8888;
    transition: all 1s;

    .tiaozhuan {
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h2 {
            font-size: .1599rem;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #ffffff;

            span {
                font-size: .1801rem;
                font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                font-weight: 700;
                text-align: left;
                color: #ffffff;
            }
        }

        p {
            font-size: .1801rem;
            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
            font-weight: 700;
            text-align: center;
            color: #fafbfd;

            span {
                color: #ffd500;
            }
        }
    }
}